Repository tikv/migration: changes, and which Codecov flags are due for each by the changed paths.
All: cdc, br

.codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 4
  round: down

  status:
    project:
      default:
        target: auto
        threshold: 3% #Allow the coverage to drop by threshold%, and posting a success status.
        branches:
          - master

    patch:
      default:
        target: 0%
    changes: no

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes
  branches:
    - "master"

ignore:
  - "LICENSES"
  - "*_test.go"
  - "*.pb.go"
  - ".git"
  - "*.yaml"
  - "*.toml"
  - "*.md"
  - "docs/.*"
  - "testing_utils/.*"

flags:
  cdc:
    carryforward: true
    paths:
      - "cdc/cdc"
      - "cdc/cmd"
      - "cdc/pkg"
  br:
    carryforward: true
    paths:
      - "br/cmd"
      - "br/pkg"

set empty with []byte{} instead of nil
  cdc/tests/utils/rawkv_data/gen_data.go
Due: none

fix name
  cdc/metrics/grafana/tikv-cdc.json
Due: none

prolong sleep of move_keyspan test case
  cdc/tests/integration_tests/http_api/util/test_case.py
Due: none

update client-go
  cdc/go.mod
  cdc/go.sum
Due: none

[to #250] cdc: remove empty value check in client-go (#277)
  cdc/go.mod
  cdc/go.sum
  cdc/tests/integration_tests/http_api/util/test_case.py
  cdc/tests/utils/rawkv_data/gen_data.go
Due: none

[fix #278] fix metric `Sink write rows count/s` show wrong name (#279)
  cdc/metrics/grafana/tikv-cdc.json
Due: none

WithRequireLeader is useless for campaign stuck
  cdc/cdc/capture/capture.go
Due: cdc

add comment
  cdc/cdc/capture/capture.go
Due: cdc

support br v5.x.x
  br/cmd/br/debug.go
  br/pkg/feature/feature_gate.go
  br/pkg/feature/feature_gate_test.go
  br/pkg/pdutil/pd.go
  br/pkg/pdutil/pd_serial_test.go
  br/pkg/task/backup_raw.go
  br/pkg/task/common.go
  br/pkg/task/common_test.go
  br/pkg/task/restore_raw.go
  br/pkg/version/version.go
Due: br

fix tikv sink
  cdc/cdc/sink/tikv.go
Due: cdc

keep createClient
  cdc/cdc/sink/tikv.go
Due: cdc

fix close
  cdc/cdc/sink/tikv.go
Due: cdc

fix ut
  cdc/cdc/sink/sink_test.go
Due: cdc

address comment
  cdc/cdc/sink/sink_test.go
Due: cdc

[fix #238] fix tikv sink (#284)
  cdc/cdc/sink/sink_test.go
  cdc/cdc/sink/tikv.go
Due: cdc

add it for kill downstream
  cdc/tests/integration_tests/kill_downstream/run.sh
Due: none

fix check
  cdc/tests/integration_tests/kill_downstream/run.sh
Due: none

fix lint and add it
  .github/workflows/ci-br.yml
  br/Makefile
  br/pkg/feature/feature_gate.go
  br/pkg/task/backup_raw.go
  br/pkg/task/common.go
Due: br

add TODO
  cdc/tests/integration_tests/kill_downstream/run.sh
Due: none

fix br ci
  .github/workflows/ci-br.yml
Due: none

add cluster version
  .github/workflows/ci-br.yml
  br/Makefile
  br/tests/rawkv/main.go
Due: none

[close #283] add it for kill downstream (#285)
  cdc/tests/integration_tests/kill_downstream/run.sh
Due: none

fix checksum
  br/tests/rawkv/main.go
Due: none

fix
  br/pkg/backup/push.go
  br/tests/rawkv/main.go
Due: br

fix
  br/tests/rawkv/main.go
Due: none

fix cdc stuck when send SIGSTOP to pd leader
  cdc/cdc/capture/capture.go
  cdc/cdc/capture/http_handler.go
  cdc/cdc/server.go
Due: cdc

remove unused line
  cdc/cdc/capture/capture.go
Due: cdc

remove capture key from etcd
  cdc/cdc/capture/capture.go
Due: cdc

rename kill_downstream -> stop_downstream
  cdc/tests/integration_tests/stop_downstream/run.sh
Due: none

fix capture
  cdc/cdc/capture/capture.go
Due: cdc

fix resign
  cdc/cdc/capture/capture.go
Due: cdc

add cancel back
  cdc/cdc/capture/capture.go
Due: cdc

fix alertmanager for tikv-cdc
  cdc/metrics/alertmanager/ticdc.rules.yml
Due: none

address comment
  cdc/metrics/alertmanager/ticdc.rules.yml
Due: none
