Repository tikv/migration: changes, and which Codecov flags are due for each by the changed paths.
All: cdc, br

.codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 4
  round: down

  status:
    project:
      default:
        target: auto
        threshold: 3% #Allow the coverage to drop by threshold%, and posting a success status.
        branches:
          - master

    patch:
      default:
        target: 0%
    changes: no

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes
  branches:
    - "master"

ignore:
  - "LICENSES"
  - "*_test.go"
  - "*.pb.go"
  - ".git"
  - "*.yaml"
  - "*.toml"
  - "*.md"
  - "docs/.*"
  - "testing_utils/.*"

flags:
  cdc:
    carryforward: true
    paths:
      - "cdc/cdc"
      - "cdc/cmd"
      - "cdc/pkg"
  br:
    carryforward: true
    paths:
      - "br/cmd"
      - "br/pkg"

fix check
  cdc/tests/integration_tests/flow_control/run.sh
Due: none

address comment
  cdc/tests/integration_tests/flow_control/run.sh
Due: none

[to #259] add test case for flow control (#260)
  cdc/cdc/processor/pipeline/sink.go
  cdc/scripts/download-integration-test-binaries.sh
  cdc/tests/integration_tests/autorandom/run.sh
  cdc/tests/integration_tests/availability/capture.sh
  cdc/tests/integration_tests/availability/owner.sh
  cdc/tests/integration_tests/availability/processor.sh
  cdc/tests/integration_tests/availability/run.sh
  cdc/tests/integration_tests/changefeed_auto_stop/run.sh
  cdc/tests/integration_tests/changefeed_error/run.sh
  cdc/tests/integration_tests/changefeed_fast_fail/run.sh
  cdc/tests/integration_tests/changefeed_finish/run.sh
  cdc/tests/integration_tests/changefeed_pause_resume/run.sh
  cdc/tests/integration_tests/changefeed_reconstruct/run.sh
  cdc/tests/integration_tests/cli/run.sh
  cdc/tests/integration_tests/flow_control/config/workload
  cdc/tests/integration_tests/flow_control/run.sh
  cdc/tests/integration_tests/gc_safepoint/run.sh
  cdc/tests/integration_tests/http_proxies/run.sh
  cdc/tests/integration_tests/kv_client_stream_reconnect/run.sh
  cdc/tests/integration_tests/multi_capture/run.sh
  cdc/tests/integration_tests/processor_err_chan/run.sh
  cdc/tests/integration_tests/processor_resolved_ts_fallback/run.sh
  cdc/tests/integration_tests/processor_stop_delay/run.sh
  cdc/tests/integration_tests/run.sh
  cdc/tests/integration_tests/sink_hang/run.sh
  cdc/tests/integration_tests/sink_tls/run.sh
  cdc/tests/utils/rawkv_data/gen_data.go
Due: cdc

br: fix restore ratelimit
  br/pkg/restore/client.go
  br/pkg/restore/client_test.go
  br/pkg/restore/import.go
  br/pkg/task/restore_raw.go
Due: br

fix golang lint
  br/pkg/restore/client.go
  br/pkg/restore/client_test.go
Due: br

add it test case
  cdc/tests/integration_tests/kill_owner/run.sh
  cdc/tests/integration_tests/processor_panic/run.sh
  cdc/tests/integration_tests/sorter/run.sh
Due: none

show diff
  cdc/tests/.unmodify/kill_owner_with_ddl/run.sh
  cdc/tests/.unmodify/processor_panic/run.sh
  cdc/tests/.unmodify/sorter/run.sh
Due: none

fix check
  cdc/tests/.unmodify/kill_owner_with_ddl/run.sh
  cdc/tests/.unmodify/processor_panic/run.sh
  cdc/tests/.unmodify/sorter/run.sh
  cdc/tests/integration_tests/kill_owner/run.sh
  cdc/tests/integration_tests/processor_panic/run.sh
  cdc/tests/integration_tests/sorter/run.sh
Due: none

add verify for movekeyspan
  cdc/cdc/capture/http_validator.go
  cdc/cdc/owner/scheduler_v1.go
  cdc/tests/.unmodify/http_api/run.sh
  cdc/tests/.unmodify/http_api/util/test_case.py
  cdc/tests/integration_tests/http_api/run.sh
  cdc/tests/integration_tests/http_api/util/test_case.py
Due: cdc

add verify for movekeyspan
  cdc/tests/.unmodify/http_api/run.sh
  cdc/tests/integration_tests/_utils/rawkv_op
  cdc/tests/integration_tests/http_api/run.sh
Due: none

fix ut
  cdc/cdc/capture/http_validator.go
  cdc/cdc/model/http_model.go
  cdc/tests/integration_tests/http_api/util/test_case.py
Due: cdc

remove unused panel
  cdc/metrics/grafana/tikv-cdc.json
Due: none

[close #267] Fix restore ratelimit (#268)
  br/pkg/restore/client.go
  br/pkg/restore/client_test.go
  br/pkg/restore/import.go
  br/pkg/task/restore_raw.go
Due: br

add downstream cluster with tls & prohibit update startkey and endkey
  cdc/cdc/capture/http_validator.go
  cdc/cdc/capture/http_validator_test.go
  cdc/pkg/cmd/cli/cli_changefeed_update.go
  cdc/tests/integration_tests/_utils/start_tls_tidb_cluster_impl
  cdc/tests/integration_tests/_utils/test_prepare
  cdc/tests/integration_tests/cli_tls/run.sh
  cdc/tests/integration_tests/http_api/run.sh
  cdc/tests/integration_tests/http_api/util/test_case.py
  cdc/tests/integration_tests/sink_tls/run.sh
Due: cdc

remove log
  cdc/cdc/owner/scheduler_v1.go
Due: cdc

fix check
  cdc/tests/integration_tests/cli_tls/run.sh
Due: none

print flag name
  cdc/pkg/cmd/cli/cli_changefeed_update.go
Due: cdc

fix ut
  cdc/pkg/cmd/cli/cli_changefeed_update_test.go
Due: cdc

Optimize integration test speed
  cdc/tests/integration_tests/autorandom/run.sh
  cdc/tests/integration_tests/availability/capture.sh
  cdc/tests/integration_tests/availability/owner.sh
  cdc/tests/integration_tests/availability/processor.sh
  cdc/tests/integration_tests/availability/run.sh
  cdc/tests/integration_tests/capture_session_done_during_task/run.sh
  cdc/tests/integration_tests/changefeed_auto_stop/run.sh
  cdc/tests/integration_tests/changefeed_error/run.sh
  cdc/tests/integration_tests/changefeed_fast_fail/run.sh
  cdc/tests/integration_tests/changefeed_finish/run.sh
  cdc/tests/integration_tests/changefeed_pause_resume/run.sh
  cdc/tests/integration_tests/changefeed_reconstruct/run.sh
  cdc/tests/integration_tests/cli/run.sh
  cdc/tests/integration_tests/flow_control/run.sh
  cdc/tests/integration_tests/gc_safepoint/run.sh
  cdc/tests/integration_tests/kill_owner/run.sh
  cdc/tests/integration_tests/kv_client_stream_reconnect/run.sh
  cdc/tests/integration_tests/multi_capture/run.sh
  cdc/tests/integration_tests/processor_err_chan/run.sh
  cdc/tests/integration_tests/processor_panic/run.sh
  cdc/tests/integration_tests/processor_resolved_ts_fallback/run.sh
  cdc/tests/integration_tests/processor_stop_delay/run.sh
  cdc/tests/integration_tests/sink_hang/run.sh
  cdc/tests/integration_tests/sink_tls/run.sh
  cdc/tests/integration_tests/sorter/run.sh
Due: none

fix
  cdc/tests/integration_tests/availability/run.sh
  cdc/tests/integration_tests/changefeed_pause_resume/run.sh
  cdc/tests/integration_tests/changefeed_reconstruct/run.sh
  cdc/tests/integration_tests/gc_safepoint/run.sh
  cdc/tests/integration_tests/kill_owner/run.sh
  cdc/tests/integration_tests/kv_client_stream_reconnect/run.sh
  cdc/tests/integration_tests/processor_err_chan/run.sh
  cdc/tests/integration_tests/processor_panic/run.sh
  cdc/tests/integration_tests/processor_resolved_ts_fallback/run.sh
  cdc/tests/integration_tests/processor_stop_delay/run.sh
  cdc/tests/integration_tests/sink_hang/run.sh
Due: none

[close #265] Add test case for tls (#266)
  cdc/cdc/capture/http_validator.go
  cdc/cdc/capture/http_validator_test.go
  cdc/cdc/model/http_model.go
  cdc/pkg/cmd/cli/cli_changefeed_statistics.go
  cdc/pkg/cmd/cli/cli_changefeed_update.go
  cdc/pkg/cmd/cli/cli_changefeed_update_test.go
  cdc/pkg/cmd/cli/cli_processor_list.go
  cdc/pkg/cmd/cli/cli_processor_query.go
  cdc/tests/integration_tests/_utils/rawkv_op
  cdc/tests/integration_tests/_utils/start_tls_tidb_cluster_impl
  cdc/tests/integration_tests/_utils/test_prepare
  cdc/tests/integration_tests/cli_tls/run.sh
  cdc/tests/integration_tests/http_api/run.sh
  cdc/tests/integration_tests/http_api/util/test_case.py
  cdc/tests/integration_tests/sink_tls/run.sh
Due: cdc

add get_start_ts script
  cdc/tests/integration_tests/_utils/get_start_ts
  cdc/tests/integration_tests/_utils/rawkv_op
  cdc/tests/integration_tests/autorandom/run.sh
  cdc/tests/integration_tests/availability/run.sh
  cdc/tests/integration_tests/capture_session_done_during_task/run.sh
  cdc/tests/integration_tests/changefeed_auto_stop/run.sh
  cdc/tests/integration_tests/changefeed_error/run.sh
  cdc/tests/integration_tests/changefeed_fast_fail/run.sh
  cdc/tests/integration_tests/changefeed_finish/run.sh
  cdc/tests/integration_tests/changefeed_pause_resume/run.sh
  cdc/tests/integration_tests/changefeed_reconstruct/run.sh
  cdc/tests/integration_tests/cli/run.sh
  cdc/tests/integration_tests/cli_tls/run.sh
  cdc/tests/integration_tests/flow_control/run.sh
  cdc/tests/integration_tests/gc_safepoint/run.sh
  cdc/tests/integration_tests/http_api/run.sh
  cdc/tests/integration_tests/kill_owner/run.sh
  cdc/tests/integration_tests/kv_client_stream_reconnect/run.sh
  cdc/tests/integration_tests/multi_capture/run.sh
  cdc/tests/integration_tests/processor_err_chan/run.sh
  cdc/tests/integration_tests/processor_panic/run.sh
  cdc/tests/integration_tests/processor_resolved_ts_fallback/run.sh
  cdc/tests/integration_tests/processor_stop_delay/run.sh
  cdc/tests/integration_tests/sink_hang/run.sh
  cdc/tests/integration_tests/sink_tls/run.sh
  cdc/tests/integration_tests/sorter/run.sh
Due: none

fix check
  cdc/tests/integration_tests/_utils/get_start_ts
  cdc/tests/integration_tests/cli_tls/run.sh
Due: none

remove unused panel (#272)
  cdc/metrics/grafana/tikv-cdc.json
Due: none

fix it
  cdc/tests/integration_tests/cli_tls/run.sh
Due: none

[fix #269] Add integration test case for cdc (#270)
  cdc/tests/.unmodify/sorter/run.sh
  cdc/tests/integration_tests/_utils/get_start_ts
  cdc/tests/integration_tests/_utils/rawkv_op
  cdc/tests/integration_tests/availability/capture.sh
  cdc/tests/integration_tests/availability/owner.sh
  cdc/tests/integration_tests/availability/processor.sh
  cdc/tests/integration_tests/availability/run.sh
  cdc/tests/integration_tests/capture_session_done_during_task/run.sh
  cdc/tests/integration_tests/changefeed_auto_stop/run.sh
  cdc/tests/integration_tests/changefeed_error/run.sh
  cdc/tests/integration_tests/changefeed_fast_fail/run.sh
  cdc/tests/integration_tests/changefeed_finish/run.sh
  cdc/tests/integration_tests/changefeed_pause_resume/run.sh
  cdc/tests/integration_tests/changefeed_reconstruct/run.sh
  cdc/tests/integration_tests/cli/run.sh
  cdc/tests/integration_tests/cli_tls/run.sh
  cdc/tests/integration_tests/flow_control/run.sh
  cdc/tests/integration_tests/gc_safepoint/run.sh
  cdc/tests/integration_tests/http_api/run.sh
  cdc/tests/integration_tests/kill_owner/run.sh
  cdc/tests/integration_tests/kv_client_stream_reconnect/run.sh
  cdc/tests/integration_tests/multi_capture/run.sh
  cdc/tests/integration_tests/processor_err_chan/run.sh
  cdc/tests/integration_tests/processor_panic/run.sh
  cdc/tests/integration_tests/processor_resolved_ts_fallback/run.sh
  cdc/tests/integration_tests/processor_stop_delay/run.sh
  cdc/tests/integration_tests/sink_hang/run.sh
  cdc/tests/integration_tests/sink_tls/run.sh
  cdc/tests/integration_tests/sorter/run.sh
Due: none

fix cdc hang
  cdc/cdc/capture/capture.go
  cdc/pkg/version/check.go
Due: cdc

add comment
  cdc/cdc/capture/capture.go
  cdc/pkg/version/check.go
Due: cdc

add it
  cdc/cdc/capture/capture.go
  cdc/tests/integration_tests/cdc_hang_on/run.sh
Due: cdc

add retry
  cdc/tests/integration_tests/cdc_hang_on/run.sh
Due: none

fix check
  cdc/tests/integration_tests/cdc_hang_on/run.sh
Due: none

remove -o pipefail
  cdc/tests/integration_tests/cdc_hang_on/run.sh
Due: none

[fxi #275]: fix cdc hang on when send SIGSTOP to pd leader (#276)
  cdc/cdc/capture/capture.go
  cdc/pkg/version/check.go
  cdc/tests/integration_tests/cdc_hang_on/run.sh
Due: cdc

add empty value to IT
  cdc/go.mod
  cdc/tests/utils/rawkv_data/gen_data.go
Due: none

add real replace; fix fmt
  cdc/go.mod
  cdc/go.sum
  cdc/tests/utils/rawkv_data/gen_data.go
Due: none

fix name
  cdc/metrics/grafana/tikv-cdc.json
Due: none
