Repository tikv/migration: changes, and which Codecov flags are due for each by the changed paths.
All: cdc, br

.codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 4
  round: down

  status:
    project:
      default:
        target: 85%
        threshold: 3% #Allow the coverage to drop by threshold%, and posting a success status.
        branches:
          - master

    patch:
      default:
        target: 0%
    changes: no

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes
  branches:
    - "master"

ignore:
  - "LICENSES"
  - "*_test.go"
  - "*.pb.go"
  - ".git"
  - "*.yaml"
  - "*.toml"
  - "*.md"
  - "docs/.*"
  - "testing_utils/.*"

flags:
  cdc:
    carryforward: true
    paths:
      - "cdc/cdc"
      - "cdc/cmd"
      - "cdc/pkg"
  br:
    carryforward: true
    paths:
      - "br/cmd"
      - "br/pkg"

[to tikv#67] support setting api version in br requests
  br/Makefile
  br/cmd/br/cmd.go
  br/pkg/restore/client.go
  br/pkg/task/backup.go
  br/pkg/task/backup_raw.go
  br/pkg/task/backup_test.go
  br/pkg/task/common.go
  br/pkg/task/config.go
  br/pkg/task/rawkv_config.go
  br/pkg/task/restore.go
  br/pkg/task/restore_common_config.go
  br/pkg/task/restore_raw.go
  br/pkg/task/restore_raw_config.go
  br/pkg/task/tls_config.go
  br/tests/br_rawkv/run.sh
  br/tests/rawkv/client.go
  br/tests/rawkv/go.mod
  br/tests/rawkv/go.sum
  br/tests/rawkv/run.py
Due: br

migrate test logics from run.sh to run.py
  br/Makefile
  br/tests/br_rawkv/run.py
  br/tests/br_rawkv/run.sh
Due: none

temporarily disable old versions < 6.0
  .github/workflows/ci-br.yml
Due: none

separate CI of 5.X versions
  .github/workflows/ci-br.yml
Due: none

bugfix
  .github/workflows/ci-br.yml
Due: none

bugfix
  .github/workflows/ci-br.yml
  br/Makefile
Due: none

address comments
  .github/workflows/ci-br.yml
  br/Makefile
  br/tests/br_rawkv/run.py
Due: none

fix integration test
  br/pkg/restore/client.go
  br/pkg/task/backup_raw.go
  br/pkg/task/restore_raw.go
  br/tests/rawkv/run.py
Due: br

add license
  br/pkg/task/config.go
  br/pkg/task/rawkv_config.go
  br/pkg/task/restore_common_config.go
  br/pkg/task/restore_raw_config.go
  br/pkg/task/tls_config.go
  br/tests/rawkv/run.py
Due: br

address comment
  br/tests/rawkv/run.py
Due: none

[to #67] support setting api version in br requests (#75)
  br/Makefile
  br/cmd/br/cmd.go
  br/pkg/task/backup.go
  br/pkg/task/backup_raw.go
  br/pkg/task/backup_test.go
  br/pkg/task/common.go
  br/pkg/task/config.go
  br/pkg/task/rawkv_config.go
  br/pkg/task/restore.go
  br/pkg/task/restore_common_config.go
  br/pkg/task/restore_raw.go
  br/pkg/task/restore_raw_config.go
  br/pkg/task/tls_config.go
  br/tests/br_rawkv/run.sh
  br/tests/rawkv/client.go
  br/tests/rawkv/go.mod
  br/tests/rawkv/go.sum
  br/tests/rawkv/run.py
Due: br

init tikv gc worker
  gc-worker/Makefile
  gc-worker/cmd/main.go
  gc-worker/go.mod
  gc-worker/go.sum
  gc-worker/server/config/config.go
  gc-worker/server/server.go
Due: none

remove unnecessary codes
  br/cmd/br/cmd.go
  br/cmd/br/debug.go
  br/cmd/br/restore.go
  br/pkg/conn/conn.go
  br/pkg/conn/main_test.go
  br/pkg/gluetidb/glue.go
  br/pkg/pdutil/pd.go
  br/pkg/restore/client.go
  br/pkg/task/restore_raw.go
Due: br

reorg some files and directories
  br/Makefile
  br/README.md
  br/deployments/docker-compose.yaml
  br/deployments/docker/Dockerfile
  br/deployments/docker/config/pd.toml
  br/deployments/docker/config/tidb.toml
  br/deployments/docker/config/tikv.toml
  br/deployments/docker/gcs.env
  br/deployments/docker/minio.env
  br/deployments/errors.toml
  br/deployments/revive.toml
  br/docs/images/arch.svg
  br/tests/compatibility/COMPATIBILITY_TEST.md
  br/tests/compatibility/backup_cluster.yaml
  br/tests/compatibility/credentials/application_default_credentials.json
  br/tests/compatibility/get_last_tags.sh
  br/tests/compatibility/prepare_backup.sh
  br/tests/compatibility/prepare_data/workload
Due: none

[to #67] remove unnecessary codes (#84)
  br/Makefile
  br/README.md
  br/cmd/br/cmd.go
  br/cmd/br/debug.go
  br/cmd/br/restore.go
  br/deployments/docker-compose.yaml
  br/deployments/docker/Dockerfile
  br/deployments/docker/config/pd.toml
  br/deployments/docker/config/tidb.toml
  br/deployments/docker/config/tikv.toml
  br/deployments/docker/gcs.env
  br/deployments/docker/minio.env
  br/deployments/errors.toml
  br/deployments/revive.toml
  br/docs/images/arch.svg
  br/pkg/conn/conn.go
  br/pkg/conn/main_test.go
  br/pkg/gluetidb/glue.go
  br/pkg/pdutil/pd.go
  br/pkg/restore/client.go
  br/pkg/task/restore_raw.go
  br/tests/compatibility/COMPATIBILITY_TEST.md
  br/tests/compatibility/backup_cluster.yaml
  br/tests/compatibility/credentials/application_default_credentials.json
  br/tests/compatibility/get_last_tags.sh
  br/tests/compatibility/prepare_backup.sh
  br/tests/compatibility/prepare_data/workload
Due: br

tiny fix
  br/tests/rawkv/run.py
Due: none

[to #67] fix rawkv backup failure (#77)
  .github/workflows/ci-br.yml
  br/Makefile
  br/pkg/backup/client.go
  br/pkg/backup/push.go
  br/pkg/restore/client.go
  br/pkg/restore/split.go
  br/pkg/restore/split_client.go
  br/pkg/restore/split_test.go
  br/pkg/restore/util.go
  br/pkg/task/restore_raw.go
  br/tests/rawkv/run.py
Due: br

clean debug log and address review comment
  gc-worker/cmd/main.go
  gc-worker/server/server.go
Due: none

create cdc gh action
  .github/workflows/ci-cdc.yml
  cdc/Makefile
  cdc/tools/check/check-errdoc.sh
Due: none

ci fix
  .github/workflows/ci-cdc.yml
Due: none

fix ut
  cdc/cdc/model/changefeed_test.go
  cdc/cdc/model/owner_test.go
  cdc/cdc/model/protocol_test.go
  cdc/cdc/model/string_test.go
  cdc/cdc/owner/feed_state_manager_test.go
  cdc/cdc/sink/sink.go
  cdc/cdc/sink/sink_test.go
  cdc/pkg/config/config_test_data.go
  cdc/pkg/config/replica_config.go
  cdc/pkg/etcd/etcdkey.go
  cdc/pkg/etcd/etcdkey_test.go
Due: cdc

fix ut
  cdc/Makefile
  cdc/cdc/capture/capture.go
  cdc/cdc/owner/changefeed.go
  cdc/cdc/owner/owner.go
  cdc/pkg/p2p/client_test.go
  cdc/pkg/p2p/mock_grpc_client.go
Due: cdc

[to #67] remove unused function and dead code (#69)
  br/cmd/br/backup.go
  br/cmd/br/cmd.go
  br/cmd/br/restore.go
  br/pkg/backup/client.go
  br/pkg/backup/client_test.go
  br/pkg/backup/schema.go
  br/pkg/backup/schema_test.go
  br/pkg/checksum/executor_test.go
  br/pkg/restore/client.go
  br/pkg/restore/client_test.go
  br/pkg/restore/db_test.go
  br/pkg/task/backup.go
  br/pkg/task/common_test.go
  br/pkg/task/restore.go
Due: br

fix ut
  cdc/pkg/filter/filter.go
  cdc/pkg/filter/filter_test.go
Due: cdc

[to #67] remove unused code related to restore (#76)
  br/cmd/br/debug.go
  br/pkg/conn/conn.go
  br/pkg/glue/glue.go
  br/pkg/gluetidb/glue.go
  br/pkg/gluetikv/glue.go
  br/pkg/restore/client.go
  br/pkg/restore/db.go
  br/pkg/restore/db_test.go
  br/pkg/restore/systable_restore.go
  br/pkg/restore/util.go
  br/pkg/restore/util_test.go
  br/pkg/task/backup_raw.go
  br/pkg/task/common.go
  br/pkg/task/restore_raw.go
  br/pkg/utils/schema.go
  br/pkg/utils/schema_test.go
Due: br

br: fix CI timeout (#71)
  br/Makefile
Due: none

[to #519] move br component from tikv java client to this repo (#73)
  .gitignore
  online-bulk-load/README.md
  pom.xml
  sst-data-source/README.md
  sst-data-source/pom.xml
  sst-data-source/src/main/java/org/tikv/datasources/br/BackupDecoder.java
  sst-data-source/src/main/java/org/tikv/datasources/br/BackupMetaDecoder.java
  sst-data-source/src/main/java/org/tikv/datasources/br/KVDecoder.java
  sst-data-source/src/main/java/org/tikv/datasources/br/RawKVDecoderV1.java
  sst-data-source/src/main/java/org/tikv/datasources/br/SSTDecoder.java
  sst-data-source/src/main/java/org/tikv/datasources/br/SSTIterator.java
  sst-data-source/src/main/scala/org/tikv/datasources/sst/SSTPartitionReader.scala
  sst-data-source/src/main/scala/org/tikv/datasources/sst/SSTPartitionReaderFactory.scala
  sst-data-source/src/main/scala/org/tikv/datasources/sst/SSTScan.scala
Due: none

[to #67] remove unused code related to parser (#78)
  br/Makefile
  br/cmd/br/backup.go
  br/go.mod
  br/go.sum
  br/pkg/backup/client_test.go
  br/pkg/checksum/executor.go
  br/pkg/checksum/validate.go
  br/pkg/glue/glue.go
  br/pkg/kv/checksum.go
  br/pkg/kv/checksum_test.go
  br/pkg/kv/kv.go
  br/pkg/kv/kv_test.go
  br/pkg/kv/session.go
  br/pkg/kv/session_test.go
  br/pkg/metautil/metafile.go
  br/pkg/mock/backend.go
  br/pkg/mock/glue.go
  br/pkg/mock/glue_checkpoint.go
  br/pkg/mock/kv.go
  br/pkg/mock/mock_cluster.go
  br/pkg/mock/mock_cluster_test.go
  br/pkg/restore/batcher.go
  br/pkg/restore/batcher_test.go
  br/pkg/restore/client.go
  br/pkg/restore/client_test.go
  br/pkg/restore/main_test.go
  br/pkg/restore/pipeline_items.go
  br/pkg/restore/util.go
  br/pkg/restore/util_test.go
  br/pkg/task/restore.go
  br/pkg/task/restore_test.go
  br/pkg/version/build/info.go
  br/pkg/version/version.go
  br/pkg/version/version_test.go
  br/tests/br_key_locked/codec.go
  br/tests/br_key_locked/locker.go
Due: br

add deleted ut TestFixChangefeedSinkProtocol
  cdc/cdc/owner/owner_test.go
Due: cdc

fix error name
  cdc/cdc/owner/scheduler_v1.go
  cdc/cdc/processor/pipeline/sink.go
  cdc/cdc/processor/pipeline/sink_test.go
  cdc/cdc/processor/processor.go
  cdc/cdc/processor/processor_test.go
  cdc/pkg/errors/errors.go
  cdc/pkg/pipeline/pipeline.go
Due: cdc

[to #67] remove unused code related to restore (#76)
  br/pkg/restore/db_test.go
Due: br

[to #66] update kvproto to support api v2 (#79)
  br/go.mod
  br/go.sum
Due: none

remove ForceReplicate, IgnoreIneligibleTable, IgnoreTxnStartTs, Mounter
  cdc/cdc/capture/http_validator.go
  cdc/cdc/capture/http_validator_test.go
  cdc/cdc/model/http_model.go
Due: cdc

fix comment
  cdc/cdc/sink/buffer_sink.go
Due: cdc

fix ut
  cdc/cdc/capture/http_validator.go
  cdc/cdc/capture/http_validator_test.go
Due: cdc
