Repository tikv/migration: changes, and which Codecov flags are due for each by the changed paths.
All: cdc, br

.codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 4
  round: down

  status:
    project:
      default:
        target: 85%
        threshold: 3% #Allow the coverage to drop by threshold%, and posting a success status.
        branches:
          - master

    patch:
      default:
        target: 0%
    changes: no

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes
  branches:
    - "master"

ignore:
  - "LICENSES"
  - "*_test.go"
  - "*.pb.go"
  - ".git"
  - "*.yaml"
  - "*.toml"
  - "*.md"
  - "docs/.*"
  - "testing_utils/.*"

flags:
  cdc:
    carryforward: true
    paths:
      - "cdc/cdc"
      - "cdc/cmd"
      - "cdc/pkg"
  br:
    carryforward: true
    paths:
      - "br/cmd"
      - "br/pkg"

fix ut
  cdc/pkg/config/kvclient.go
Due: cdc

fix check
  cdc/cdc/kv/client_test.go
Due: cdc

fix ut
  cdc/pkg/config/config_test_data.go
Due: cdc

[fix #193] fix cdc lose data by add resolved ts interval (#196)
  cdc/cdc/kv/client_test.go
  cdc/cdc/kv/region_worker.go
  cdc/cdc/kv/region_worker_test.go
  cdc/pkg/cmd/server/server_test.go
  cdc/pkg/config/config_test_data.go
  cdc/pkg/config/kvclient.go
  cdc/pkg/config/server_config.go
Due: cdc

modify version check
  cdc/pkg/version/check.go
Due: cdc

[close #198] modify version check to be compatible for v6.2.0 (#197)
  cdc/pkg/version/check.go
Due: cdc

cdc compile version
  br/pkg/version/version.go
  br/pkg/version/version_test.go
  cdc/Makefile
  cdc/pkg/version/check.go
Due: cdc, br

cdc compile version (#201)
  br/pkg/version/version.go
  br/pkg/version/version_test.go
  cdc/Makefile
  cdc/pkg/version/check.go
Due: cdc, br

test verify CI
  cdc/Makefile
Due: none

update pd
  cdc/go.mod
  cdc/go.sum
Due: none

fix hostname error
  cdc/cdc/sink/sink_test.go
  cdc/cdc/sink/tikv.go
Due: cdc

modify pd
  cdc/go.mod
  cdc/go.sum
Due: none

modify dockerfile
  cdc/deployments/ticdc/docker/Dockerfile
  cdc/deployments/ticdc/docker/dev.Dockerfile
  cdc/deployments/tikv-cdc/docker-compose/configs/canal-test-config.toml
  cdc/deployments/tikv-cdc/docker-compose/configs/enable-oldvalue-config.toml
  cdc/deployments/tikv-cdc/docker-compose/configs/jdbc-sink-connector.json
  cdc/deployments/tikv-cdc/docker-compose/configs/pd.toml
  cdc/deployments/tikv-cdc/docker-compose/configs/tidb.toml
  cdc/deployments/tikv-cdc/docker-compose/configs/tikv.toml
  cdc/deployments/tikv-cdc/docker-compose/docker-compose-avro.yml
  cdc/deployments/tikv-cdc/docker-compose/docker-compose-canal.yml
  cdc/deployments/tikv-cdc/docker-compose/docker-compose-kafka-integration.yml
  cdc/deployments/tikv-cdc/docker-compose/docker-compose-mysql-integration.yml
  cdc/deployments/tikv-cdc/docker-compose/docker-compose-mysql.yml
  cdc/deployments/tikv-cdc/docker/.dockerignore
  cdc/deployments/tikv-cdc/docker/Dockerfile
  cdc/deployments/tikv-cdc/docker/dev.Dockerfile
  cdc/deployments/tikv-cdc/docker/integration-test.Dockerfile
Due: none

fix comment:
  cdc/deployments/tikv-cdc/docker/Dockerfile
  cdc/deployments/tikv-cdc/docker/dev.Dockerfile
Due: none

fix comment
  cdc/cdc/sink/sink_test.go
Due: cdc

[close #205] support host as sink url (#206)
  cdc/cdc/sink/sink_test.go
  cdc/cdc/sink/tikv.go
Due: cdc

[close #207] cdc: modify ticdc dockerfile for tikv-cdc (#208)
  cdc/deployments/ticdc/docker/Dockerfile
  cdc/deployments/ticdc/docker/dev.Dockerfile
  cdc/deployments/tikv-cdc/docker-compose/configs/canal-test-config.toml
  cdc/deployments/tikv-cdc/docker-compose/configs/enable-oldvalue-config.toml
  cdc/deployments/tikv-cdc/docker-compose/configs/jdbc-sink-connector.json
  cdc/deployments/tikv-cdc/docker-compose/configs/pd.toml
  cdc/deployments/tikv-cdc/docker-compose/configs/tidb.toml
  cdc/deployments/tikv-cdc/docker-compose/configs/tikv.toml
  cdc/deployments/tikv-cdc/docker-compose/docker-compose-avro.yml
  cdc/deployments/tikv-cdc/docker-compose/docker-compose-canal.yml
  cdc/deployments/tikv-cdc/docker-compose/docker-compose-kafka-integration.yml
  cdc/deployments/tikv-cdc/docker-compose/docker-compose-mysql-integration.yml
  cdc/deployments/tikv-cdc/docker-compose/docker-compose-mysql.yml
  cdc/deployments/tikv-cdc/docker/.dockerignore
  cdc/deployments/tikv-cdc/docker/Dockerfile
  cdc/deployments/tikv-cdc/docker/dev.Dockerfile
  cdc/deployments/tikv-cdc/docker/integration-test.Dockerfile
Due: none

add decodeV2key
  cdc/cdc/sink/tikv.go
  cdc/go.mod
  cdc/go.sum
  cdc/pkg/util/key.go
  cdc/pkg/util/key_test.go
Due: cdc

return err when key is not aipv2 key
  cdc/cdc/sink/tikv.go
  cdc/cdc/sink/tikv_test.go
  cdc/pkg/util/key.go
  cdc/pkg/util/key_test.go
Due: cdc

fix error
  cdc/cdc/sink/tikv.go
  cdc/cdc/sink/tikv_test.go
Due: cdc

fix ut
  cdc/cdc/sink/tikv_test.go
Due: cdc

add config templates
  cdc/deployments/tikv-cdc/config-templates/scale-out.example.yaml
  cdc/deployments/tikv-cdc/config-templates/topology.example.yaml
Due: none

add config templates (#212)
  cdc/deployments/tikv-cdc/config-templates/scale-out.example.yaml
  cdc/deployments/tikv-cdc/config-templates/topology.example.yaml
Due: none

TiKV-CDC manual
  cdc/manual-cn.md
Due: none

fix punctuation
  cdc/manual-cn.md
Due: none

change target codecov to "auto"
  .codecov.yml
Due: none

[close #213] TiKV-CDC Chinese manual (#214)
  .codecov.yml
  cdc/manual-cn.md
Due: none

fix comment
  cdc/cdc/sink/tikv.go
Due: cdc

add metric for invalid key
  cdc/cdc/sink/metrics.go
  cdc/cdc/sink/statistics.go
  cdc/cdc/sink/tikv.go
Due: cdc

fix ut
  cdc/cdc/sink/metrics.go
Due: cdc

fix comment
  cdc/cdc/sink/metrics.go
  cdc/cdc/sink/statistics.go
  cdc/cdc/sink/tikv.go
  cdc/cdc/sink/tikv_test.go
Due: cdc

fix comment
  cdc/cdc/sink/statistics.go
  cdc/cdc/sink/tikv_test.go
Due: cdc

[close #203] update pd (#204)
  cdc/cdc/sink/metrics.go
  cdc/cdc/sink/statistics.go
  cdc/cdc/sink/tikv.go
  cdc/cdc/sink/tikv_test.go
  cdc/go.mod
  cdc/go.sum
  cdc/pkg/util/key.go
  cdc/pkg/util/key_test.go
Due: cdc

modify ci-cdc.yml for tikv-cdc integration
  .github/workflows/ci-cdc.yml
Due: none

modify ci-cdc.yml for tikv-cdc integration
  .github/workflows/ci-cdc.yml
  cdc/tests/utils/rawkv_data/checksum.go
  cdc/tests/utils/rawkv_data/gen_data.go
  cdc/tests/utils/rawkv_data/main.go
Due: none
