Repository tikv/migration: changes, and which Codecov flags are due for each by the changed paths.
All: cdc, br

polish
  br/deployments/docker/Dockerfile
  br/tests/rawkv/go.mod
  br/tests/rawkv/go.sum
  cdc/tests/tests.Dockerfile
Due: none

fix CI version
  .github/workflows/ci-br.yml
  .github/workflows/ci-cdc.yml
Due: none

fix gosec
  cdc/Makefile
  cdc/pkg/security/test_util.go
Due: cdc

[close #369] *: Upgrade to go1.21 (#370)
  .github/workflows/ci-br.yml
  .github/workflows/ci-cdc.yml
  br/CONTRIBUTING.md
  br/README.md
  br/deployments/docker/Dockerfile
  br/go.mod
  br/go.sum
  br/tests/rawkv/go.mod
  br/tests/rawkv/go.sum
  br/tools/check/go.mod
  cdc/Makefile
  cdc/deployments/tikv-cdc/docker/Dockerfile
  cdc/deployments/tikv-cdc/docker/dev.Dockerfile
  cdc/deployments/tikv-cdc/docker/integration-test.Dockerfile
  cdc/go.mod
  cdc/go.sum
  cdc/pkg/security/test_util.go
  cdc/tests/tests.Dockerfile
  cdc/tools/check/go.mod
Due: cdc

upgrade client-go/tidb to release 7.5
  cdc/cdc/kv/client_bench_test.go
  cdc/cdc/kv/client_test.go
  cdc/cdc/puller/puller_test.go
  cdc/cdc/sorter/unified/backend_pool.go
  cdc/cdc/sorter/unified/backend_pool_test.go
  cdc/go.mod
  cdc/go.sum
  cdc/pkg/db/pebble.go
  cdc/pkg/etcd/etcd.go
  cdc/pkg/regionspan/span.go
  cdc/pkg/util/ctx_test.go
  cdc/pkg/util/tz.go
Due: cdc

try
  cdc/go.mod
  cdc/go.sum
Due: none

polish
  cdc/cdc/kv/client_bench_test.go
  cdc/cdc/kv/client_test.go
  cdc/go.mod
  cdc/go.sum
Due: cdc

upgrade golangci v1.55.2
  .golangci.yml
  br/Makefile
  cdc/Makefile
  cdc/cdc/model/kv.go
  cdc/pkg/fsutil/filelock.go
Due: cdc

fix lint error
  br/pkg/backup/client.go
  br/pkg/backup/client_test.go
  br/pkg/storage/s3_test.go
Due: br

[to #371] chore: Upgrade golangci-lint to v1.55.2 (#373)
  .golangci.yml
  br/Makefile
  br/pkg/backup/client.go
  br/pkg/backup/client_test.go
  br/pkg/storage/s3_test.go
  cdc/Makefile
  cdc/cdc/model/kv.go
  cdc/pkg/fsutil/filelock.go
Due: cdc, br

[close #371] Upgrade client-go/tidb to release 7.5 (#372)
  cdc/cdc/kv/client_bench_test.go
  cdc/cdc/kv/client_test.go
  cdc/cdc/puller/puller_test.go
  cdc/cdc/sorter/unified/backend_pool.go
  cdc/cdc/sorter/unified/backend_pool_test.go
  cdc/go.mod
  cdc/go.sum
  cdc/pkg/db/pebble.go
  cdc/pkg/etcd/etcd.go
  cdc/pkg/regionspan/span.go
  cdc/pkg/util/ctx_test.go
  cdc/pkg/util/tz.go
Due: cdc

wip
  cdc/cdc/sink/sink.go
Due: cdc

add go:generate
  cdc/Makefile
  cdc/cdc/model/kv.go
  cdc/cdc/model/kv_gen.go
  cdc/cdc/model/kv_gen_test.go
  cdc/cdc/model/kv_test.go
  cdc/tools/check/go.mod
  cdc/tools/check/go.sum
Due: cdc

add tools/Makefile
  cdc/tools/Makefile
Due: none

fix build error
  cdc/go.mod
  cdc/go.sum
Due: none

built
  cdc/cdc/model/kv.go
  cdc/cdc/model/sink.go
  cdc/cdc/sink/codec/codec_test.go
  cdc/cdc/sink/codec/interface.go
  cdc/cdc/sink/codec/interface_test.go
  cdc/cdc/sink/codec/json.go
  cdc/cdc/sink/codec/json_test.go
  cdc/cdc/sink/mq.go
  cdc/cdc/sink/mq_test.go
  cdc/cdc/sink/producer/kafka/config.go
  cdc/cdc/sink/producer/kafka/config_test.go
  cdc/cdc/sink/producer/kafka/kafka.go
  cdc/cdc/sink/producer/kafka/kafka_test.go
  cdc/cdc/sink/producer/mq_producer.go
  cdc/cdc/sink/sink.go
Due: cdc

fix
  cdc/cdc/model/sink.go
  cdc/cdc/model/sink_gen.go
  cdc/cdc/model/sink_gen_test.go
  cdc/cdc/sink/codec/codec_test.go
Due: cdc

fix ut
  cdc/cdc/sink/codec/json.go
  cdc/cdc/sink/codec/json_test.go
Due: cdc

clean up
  cdc/cdc/model/sink.go
  cdc/cdc/sink/codec/codec_test.go
  cdc/cdc/sink/codec/interface.go
  cdc/cdc/sink/codec/interface_test.go
  cdc/cdc/sink/codec/json.go
  cdc/cdc/sink/codec/json_test.go
  cdc/cdc/sink/mq.go
  cdc/cdc/sink/mq_test.go
  cdc/cdc/sink/producer/kafka/config.go
  cdc/cdc/sink/producer/kafka/kafka.go
  cdc/cdc/sink/sink.go
  cdc/errors.toml
  cdc/pkg/errors/errors.go
Due: cdc

fix ut
  cdc/cdc/sink/codec/codec_test.go
  cdc/cdc/sink/codec/json_test.go
  cdc/cdc/sink/mq_test.go
  cdc/cdc/sink/producer/kafka/config_test.go
  cdc/cdc/sink/producer/kafka/kafka_test.go
  cdc/cdc/sink/sink.go
  cdc/cdc/sink/sink_test.go
Due: cdc

add ut
  cdc/cdc/sink/mq.go
  cdc/cdc/sink/sink.go
  cdc/cdc/sink/sink_test.go
Due: cdc

fix check
  cdc/cdc/sink/sink.go
Due: cdc

[close #378] *: add go:generate to building and testing process (#379)
  cdc/Makefile
  cdc/cdc/model/kv.go
  cdc/cdc/model/kv_gen.go
  cdc/cdc/model/kv_gen_test.go
  cdc/cdc/model/kv_test.go
  cdc/go.mod
  cdc/go.sum
  cdc/tools/Makefile
  cdc/tools/check/go.mod
  cdc/tools/check/go.sum
Due: cdc

first works
  cdc/Makefile
  cdc/cmd/kafka-consumer/main.go
  cdc/deployments/tikv-cdc/docker-compose/docker-compose-kafka-integration.yml
  cdc/deployments/tikv-cdc/docker/integration-test.Dockerfile
  cdc/tests/integration_tests/_utils/start_tidb_cluster
  cdc/tests/integration_tests/_utils/stop_tidb_cluster
  cdc/tests/integration_tests/_utils/test_prepare
  cdc/tests/integration_tests/autorandom/run.sh
  cdc/tests/integration_tests/run.sh
  cdc/tests/utils/rawkv_data/checksum.go
  cdc/tests/utils/rawkv_data/gen_data.go
  cdc/tests/utils/rawkv_data/main.go
Due: cdc

kafka sink in run.sh
  cdc/cmd/kafka-consumer/main.go
  cdc/deployments/tikv-cdc/docker-compose/docker-compose-kafka-integration.yml
  cdc/deployments/tikv-cdc/docker/integration-test.Dockerfile
  cdc/tests/integration_tests/_utils/test_prepare
  cdc/tests/integration_tests/autorandom/run.sh
  cdc/tests/integration_tests/availability/run.sh
  cdc/tests/integration_tests/capture_session_done_during_task/run.sh
  cdc/tests/integration_tests/changefeed_auto_stop/run.sh
  cdc/tests/integration_tests/changefeed_error/run.sh
  cdc/tests/integration_tests/changefeed_fast_fail/run.sh
  cdc/tests/integration_tests/changefeed_finish/run.sh
  cdc/tests/integration_tests/changefeed_pause_resume/run.sh
  cdc/tests/integration_tests/changefeed_reconstruct/run.sh
  cdc/tests/integration_tests/cli/run.sh
  cdc/tests/integration_tests/disk_full/run.sh
  cdc/tests/integration_tests/flow_control/run.sh
  cdc/tests/integration_tests/gc_safepoint/run.sh
  cdc/tests/integration_tests/http_api/run.sh
  cdc/tests/integration_tests/kill_owner/run.sh
  cdc/tests/integration_tests/kv_client_stream_reconnect/run.sh
  cdc/tests/integration_tests/kv_filter/run.sh
  cdc/tests/integration_tests/multi_capture/run.sh
  cdc/tests/integration_tests/processor_err_chan/run.sh
  cdc/tests/integration_tests/processor_panic/run.sh
  cdc/tests/integration_tests/processor_resolved_ts_fallback/run.sh
  cdc/tests/integration_tests/processor_stop_delay/run.sh
  cdc/tests/integration_tests/sigstop/run.sh
  cdc/tests/integration_tests/sink_hang/run.sh
  cdc/tests/integration_tests/sorter/run.sh
  cdc/tests/integration_tests/stop_downstream/run.sh
  cdc/tests/integration_tests/tls/run.sh
Due: cdc

fix failpoint
  cdc/cdc/sink/mq.go
  cdc/cmd/kafka-consumer/main.go
  cdc/deployments/tikv-cdc/docker-compose/docker-compose-kafka-integration.yml
  cdc/tests/integration_tests/_utils/start_tidb_cluster_impl
  cdc/tests/integration_tests/_utils/test_prepare
  cdc/tests/integration_tests/autorandom/run.sh
  cdc/tests/integration_tests/availability/run.sh
  cdc/tests/integration_tests/capture_session_done_during_task/run.sh
  cdc/tests/integration_tests/changefeed_auto_stop/run.sh
  cdc/tests/integration_tests/changefeed_error/run.sh
  cdc/tests/integration_tests/changefeed_fast_fail/run.sh
  cdc/tests/integration_tests/changefeed_finish/run.sh
  cdc/tests/integration_tests/changefeed_pause_resume/run.sh
  cdc/tests/integration_tests/changefeed_reconstruct/run.sh
  cdc/tests/integration_tests/cli/run.sh
  cdc/tests/integration_tests/disk_full/run.sh
  cdc/tests/integration_tests/flow_control/run.sh
  cdc/tests/integration_tests/gc_safepoint/run.sh
  cdc/tests/integration_tests/http_api/run.sh
  cdc/tests/integration_tests/kill_owner/run.sh
  cdc/tests/integration_tests/kv_client_stream_reconnect/run.sh
  cdc/tests/integration_tests/kv_filter/run.sh
  cdc/tests/integration_tests/multi_capture/run.sh
  cdc/tests/integration_tests/processor_err_chan/run.sh
  cdc/tests/integration_tests/processor_panic/run.sh
  cdc/tests/integration_tests/processor_resolved_ts_fallback/run.sh
  cdc/tests/integration_tests/processor_stop_delay/run.sh
  cdc/tests/integration_tests/run_group.sh
  cdc/tests/integration_tests/sigstop/run.sh
  cdc/tests/integration_tests/sink_hang/run.sh
  cdc/tests/integration_tests/sorter/run.sh
  cdc/tests/integration_tests/stop_downstream/run.sh
Due: cdc

fix fmt
  cdc/tests/integration_tests/_utils/test_prepare
  cdc/tests/integration_tests/flow_control/run.sh
Due: none

polish
  cdc/.gitignore
  cdc/cdc/model/sink.go
  cdc/cdc/sink/codec/interface.go
  cdc/cdc/sink/codec/interface_test.go
  cdc/cdc/sink/codec/json.go
  cdc/cdc/sink/producer/kafka/kafka.go
  cdc/errors.toml
  cdc/pkg/errors/errors.go
Due: cdc

fix sigstop
  cdc/tests/integration_tests/_utils/run_kafka_consumer
  cdc/tests/integration_tests/autorandom/run.sh
  cdc/tests/integration_tests/availability/run.sh
  cdc/tests/integration_tests/capture_session_done_during_task/run.sh
  cdc/tests/integration_tests/changefeed_auto_stop/run.sh
  cdc/tests/integration_tests/changefeed_error/run.sh
  cdc/tests/integration_tests/changefeed_fast_fail/run.sh
  cdc/tests/integration_tests/changefeed_finish/run.sh
  cdc/tests/integration_tests/changefeed_pause_resume/run.sh
  cdc/tests/integration_tests/changefeed_reconstruct/run.sh
  cdc/tests/integration_tests/cli/run.sh
  cdc/tests/integration_tests/disk_full/run.sh
  cdc/tests/integration_tests/flow_control/run.sh
  cdc/tests/integration_tests/gc_safepoint/run.sh
  cdc/tests/integration_tests/http_api/run.sh
  cdc/tests/integration_tests/kill_owner/run.sh
  cdc/tests/integration_tests/kv_client_stream_reconnect/run.sh
  cdc/tests/integration_tests/kv_filter/run.sh
  cdc/tests/integration_tests/multi_capture/run.sh
  cdc/tests/integration_tests/processor_err_chan/run.sh
  cdc/tests/integration_tests/processor_panic/run.sh
  cdc/tests/integration_tests/processor_resolved_ts_fallback/run.sh
  cdc/tests/integration_tests/processor_stop_delay/run.sh
  cdc/tests/integration_tests/run_kafka_in_docker.sh
  cdc/tests/integration_tests/sigstop/run.sh
  cdc/tests/integration_tests/sink_hang/run.sh
  cdc/tests/integration_tests/sorter/run.sh
  cdc/tests/integration_tests/stop_downstream/run.sh
Due: none

fix check
  cdc/tests/integration_tests/_utils/run_kafka_consumer
Due: none

[close #381] Support Kafka sink (#380)
  cdc/.gitignore
  cdc/cdc/model/kv.go
  cdc/cdc/model/sink.go
  cdc/cdc/model/sink_gen.go
  cdc/cdc/model/sink_gen_test.go
  cdc/cdc/sink/codec/codec_test.go
  cdc/cdc/sink/codec/interface.go
  cdc/cdc/sink/codec/interface_test.go
  cdc/cdc/sink/codec/json.go
  cdc/cdc/sink/codec/json_test.go
  cdc/cdc/sink/mq.go
  cdc/cdc/sink/mq_test.go
  cdc/cdc/sink/producer/kafka/config.go
  cdc/cdc/sink/producer/kafka/config_test.go
  cdc/cdc/sink/producer/kafka/kafka.go
  cdc/cdc/sink/producer/kafka/kafka_test.go
  cdc/cdc/sink/producer/mq_producer.go
  cdc/cdc/sink/sink.go
  cdc/cdc/sink/sink_test.go
  cdc/errors.toml
  cdc/pkg/errors/errors.go
Due: cdc

skip not support case
  cdc/deployments/tikv-cdc/docker-compose/docker-compose-kafka-integration.yml
  cdc/tests/integration_tests/sigstop/run.sh
  cdc/tests/integration_tests/stop_downstream/run.sh
  cdc/tests/integration_tests/tls/run.sh
Due: none

default to kafka
  cdc/tests/integration_tests/run_group.sh
Due: none

update readme.md in tests
  cdc/tests/README.md
  cdc/tests/integration_tests/run_group.sh
Due: none

polish
  cdc/cmd/kafka-consumer/main.go
  cdc/deployments/tikv-cdc/docker-compose/docker-compose-kafka-integration.yml
  cdc/deployments/tikv-cdc/docker/Dockerfile
  cdc/deployments/tikv-cdc/docker/kafka-consumer.Dockerfile
  cdc/tests/README.md
  cdc/tests/integration_tests/_utils/run_kafka_consumer
  cdc/tests/integration_tests/run_group.sh
  cdc/tests/integration_tests/run_kafka_in_docker.sh
Due: cdc

kafka consumer tolerate TiKV errors
  cdc/Makefile
  cdc/cdc/sink/sink.go
  cdc/cdc/sink/tikv.go
  cdc/cdc/sink/tikv_test.go
  cdc/cmd/kafka-consumer/main.go
  cdc/cmd/kafka-consumer/tikv.go
  cdc/tests/integration_tests/sigstop/run.sh
  cdc/tests/integration_tests/stop_downstream/run.sh
Due: cdc

polish
  cdc/cdc/sink/sink.go
  cdc/cmd/kafka-consumer/main.go
  cdc/cmd/kafka-consumer/tikv.go
Due: cdc

improve download
  cdc/Makefile
  cdc/scripts/download-integration-test-binaries.sh
Due: none

Path conditions:
  cdc: any of: cdc/cdc, cdc/cmd, cdc/pkg, but not: LICENSES, *_test.go, *.pb.go, .git, *.yaml, *.toml, *.md, docs/.*, testing_utils/.*
  br: any of: br/cmd, br/pkg, but not: LICENSES, *_test.go, *.pb.go, .git, *.yaml, *.toml, *.md, docs/.*, testing_utils/.*
