Repository tikv/migration: changes, and which Codecov flags are due for each by the changed paths.
All: cdc, br

change func name to updateCurrentKeySpansImpl
  cdc/cdc/owner/scheduler.go
  cdc/cdc/owner/scheduler_v1.go
Due: cdc

fix keyspan id
  cdc/cdc/owner/scheduler_v1.go
Due: cdc

fix the same keyspan id
  cdc/cdc/owner/scheduler_v1.go
Due: cdc

[to#67] remove some unused code (#81)
  br/pkg/metautil/metafile.go
  br/pkg/restore/client.go
  br/pkg/restore/import.go
  br/pkg/restore/util.go
  br/web/README.md
  br/web/docs/InfoPage.png
  br/web/docs/ProgressPage.png
  br/web/docs/TableProgressPage.png
  br/web/docs/api.yaml
  br/web/go.mod
  br/web/go.sum
  br/web/package-lock.json
  br/web/package.json
  br/web/public/index.html
  br/web/src/ChunksProgressPanel.tsx
  br/web/src/DottedProgress.tsx
  br/web/src/EnginesProgressPanel.tsx
  br/web/src/ErrorButton.tsx
  br/web/src/InfoButton.tsx
  br/web/src/InfoPage.tsx
  br/web/src/MoveTaskButton.tsx
  br/web/src/PauseButton.tsx
  br/web/src/ProgressPage.tsx
  br/web/src/RefreshButton.tsx
  br/web/src/TableProgressCard.tsx
  br/web/src/TableProgressPage.tsx
  br/web/src/TaskButton.tsx
  br/web/src/TitleBar.tsx
  br/web/src/TitleLink.tsx
  br/web/src/api.ts
  br/web/src/index.tsx
  br/web/src/json-bigint.d.ts
  br/web/tsconfig.json
  br/web/webpack.config.js
Due: br

[to #67] clean Makefile (#80)
  .github/workflows/ci-br.yml
  br/Makefile
Due: none

[to #67] remove unused function and dead code (#69)
  br/pkg/restore/db_test.go
Due: br

[to #67] support setting api version in br requests (#75)
  br/Makefile
  br/cmd/br/cmd.go
  br/pkg/task/backup.go
  br/pkg/task/backup_raw.go
  br/pkg/task/backup_test.go
  br/pkg/task/common.go
  br/pkg/task/config.go
  br/pkg/task/rawkv_config.go
  br/pkg/task/restore.go
  br/pkg/task/restore_common_config.go
  br/pkg/task/restore_raw.go
  br/pkg/task/restore_raw_config.go
  br/pkg/task/tls_config.go
  br/tests/br_rawkv/run.sh
  br/tests/rawkv/client.go
  br/tests/rawkv/go.mod
  br/tests/rawkv/go.sum
  br/tests/rawkv/run.py
Due: br

namespace ticdc -> tikv_cdc
  cdc/cdc/entry/metrics.go
  cdc/cdc/kv/metrics.go
  cdc/cdc/metrics_server.go
  cdc/cdc/owner/metrics.go
  cdc/cdc/processor/metrics.go
  cdc/cdc/processor/pipeline/metrics.go
  cdc/cdc/puller/metrics.go
  cdc/cdc/sink/metrics.go
  cdc/pkg/db/metrics.go
  cdc/pkg/etcd/metrics.go
  cdc/pkg/orchestrator/metrics.go
  cdc/pkg/p2p/metrics.go
Due: cdc

fix hard code
  cdc/cdc/owner/scheduler_v1.go
  cdc/pkg/regionspan/span.go
Due: cdc

[to #67] setup backup/restore integration test for rawkv (#82)
  .github/config/br_pd.toml
  .github/config/br_rawkv.toml
  .github/workflows/ci-br.yml
  br/Makefile
  br/tests/br_rawkv/go.mod
  br/tests/br_rawkv/go.sum
  br/tests/br_rawkv/run.py
Due: none

fix comment
  cdc/cdc/sink/common/flow_control.go
  cdc/pkg/cmd/cli/cli_changefeed.go
  cdc/pkg/cmd/cli/cli_changefeed_query.go
Due: cdc

remove mount metircs
  cdc/cdc/entry/main_test.go
  cdc/cdc/entry/metrics.go
  cdc/cdc/entry/schema_test_helper.go
Due: cdc

fix build failed
  cdc/cdc/metrics.go
Due: cdc

fix CI
  cdc/go.mod
  cdc/go.sum
  cdc/tests/integration_tests/move_table/conf/diff_config.toml
  cdc/tests/integration_tests/move_table/conf/workload
  cdc/tests/integration_tests/move_table/main.go
  cdc/tests/integration_tests/move_table/run.sh
  cdc/tests/utils/cdc_state_checker/reactor.go
  cdc/tests/utils/many_sorters_test/many_sorters.go
  cdc/tests/utils/many_sorters_test/many_sorters_test.go
  cdc/tests/utils/many_sorters_test/sorter/ticdc_lock
  cdc/tests/utils/sorter_stress_test/sorter_stress.go
Due: none

fix CI
  cdc/cdc/kv/client_test.go
  cdc/errors.toml
Due: cdc

fix CI
  cdc/Makefile
Due: none

fix CI
  .github/workflows/ci-cdc.yml
  cdc/Makefile
Due: none

[to #48] Create actions for CDC (#86)
  .github/workflows/ci-cdc.yml
  cdc/Makefile
  cdc/cdc/kv/client_test.go
  cdc/errors.toml
  cdc/go.mod
  cdc/go.sum
  cdc/tests/integration_tests/move_table/conf/diff_config.toml
  cdc/tests/integration_tests/move_table/conf/workload
  cdc/tests/integration_tests/move_table/main.go
  cdc/tests/integration_tests/move_table/run.sh
  cdc/tests/utils/cdc_state_checker/reactor.go
  cdc/tests/utils/many_sorters_test/many_sorters.go
  cdc/tests/utils/many_sorters_test/many_sorters_test.go
  cdc/tests/utils/many_sorters_test/sorter/ticdc_lock
  cdc/tests/utils/sorter_stress_test/sorter_stress.go
  cdc/tools/check/check-errdoc.sh
Due: cdc

fix CI of client-test
  cdc/cdc/kv/client_test.go
Due: cdc

remove commented codes
  cdc/cdc/capture/capture.go
  cdc/cdc/capture/http_validator.go
  cdc/cdc/owner/changefeed.go
  cdc/cdc/owner/scheduler.go
  cdc/cdc/owner/scheduler_v1.go
  cdc/cdc/processor/pipeline/keyspan.go
  cdc/cdc/processor/pipeline/sink_test.go
  cdc/cdc/processor/processor.go
  cdc/cdc/server.go
  cdc/pkg/cmd/cli/cli_changefeed.go
  cdc/pkg/cmd/cli/cli_changefeed_create.go
  cdc/pkg/cmd/cli/cli_changefeed_cyclic.go
  cdc/pkg/cmd/cli/cli_changefeed_helper.go
Due: cdc

remove commented codes
  cdc/pkg/cmd/cli/cli_changefeed_cyclic.go
  cdc/pkg/cmd/cli/cli_changefeed_cyclic_create_marktables.go
Due: cdc

try fix scheduler problem
  cdc/cdc/model/owner.go
  cdc/cdc/owner/scheduler_v1.go
  cdc/cdc/processor/processor.go
Due: cdc

optimization
  cdc/cdc/model/owner.go
  cdc/cdc/owner/scheduler_v1.go
  cdc/cdc/processor/processor.go
Due: cdc

[to #48] remove mount metircs (#87)
  cdc/cdc/entry/main_test.go
  cdc/cdc/entry/metrics.go
  cdc/cdc/entry/schema_test_helper.go
  cdc/cdc/metrics.go
Due: cdc

[to #48] Fix CI of client-test (#88)
  cdc/cdc/kv/client_test.go
Due: cdc

fix backup&re store issue
  br/go.mod
  br/pkg/backup/client.go
  br/pkg/backup/push.go
  br/pkg/restore/client.go
  br/pkg/restore/import.go
  br/pkg/restore/split.go
  br/pkg/restore/split_test.go
  br/pkg/restore/util.go
  br/pkg/task/backup_raw.go
  br/pkg/task/rawkv_config.go
  br/pkg/task/restore_raw.go
  br/pkg/task/restore_raw_config.go
  br/pkg/utils/key.go
Due: br

golang format
  br/pkg/backup/client.go
  br/pkg/restore/import.go
  br/pkg/task/backup_raw.go
  br/pkg/task/rawkv_config.go
  br/pkg/utils/key.go
Due: br

[to #48] remove commented codes (#89)
  cdc/cdc/capture/capture.go
  cdc/cdc/capture/http_validator.go
  cdc/cdc/owner/changefeed.go
  cdc/cdc/owner/scheduler.go
  cdc/cdc/owner/scheduler_v1.go
  cdc/cdc/processor/pipeline/keyspan.go
  cdc/cdc/processor/pipeline/sink_test.go
  cdc/cdc/processor/processor.go
  cdc/cdc/server.go
  cdc/pkg/cmd/cli/cli_changefeed.go
  cdc/pkg/cmd/cli/cli_changefeed_create.go
  cdc/pkg/cmd/cli/cli_changefeed_cyclic.go
  cdc/pkg/cmd/cli/cli_changefeed_cyclic_create_marktables.go
  cdc/pkg/cmd/cli/cli_changefeed_helper.go
Due: cdc

resolve parts of review comments
  br/pkg/backup/client.go
  br/pkg/backup/client_test.go
  br/pkg/restore/split_test.go
  br/pkg/task/backup_raw.go
  br/pkg/task/rawkv_config.go
  br/pkg/task/restore_raw_config.go
  br/pkg/utils/key.go
  br/tests/rawkv/run.py
Due: br

fix br integration test issue
  .github/config/br_rawkv.toml
  br/tests/rawkv/run.py
Due: none

fix br integration test issue
  br/tests/rawkv/run.py
Due: none

fix br integration test issue
  br/pkg/backup/client.go
Due: br

fix br integration test issue
  .github/config/br_rawkv.toml
  br/pkg/task/backup_raw.go
  br/tests/rawkv/run.py
Due: br

add unit test for SplitRegion
  br/pkg/restore/split_test.go
Due: br

add unit test for GetCurrentTiKVApiVersion
  br/go.mod
  br/go.sum
  br/pkg/backup/client.go
  br/pkg/backup/client_test.go
Due: br

add unit test for RegionSplitter.Split
  br/pkg/restore/split_test.go
Due: br

fix ut
  cdc/cdc/processor/processor_test.go
Due: cdc

Path conditions:
  cdc: any of: cdc/cdc, cdc/cmd, cdc/pkg, but not: LICENSES, *_test.go, *.pb.go, .git, *.yaml, *.toml, *.md, docs/.*, testing_utils/.*
  br: any of: br/cmd, br/pkg, but not: LICENSES, *_test.go, *.pb.go, .git, *.yaml, *.toml, *.md, docs/.*, testing_utils/.*
