Repository tikv/migration: changes, and which Codecov flags are due for each by the changed paths.
All: cdc, br

.codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 4
  round: down

  status:
    project:
      default:
        target: auto
        threshold: 3% #Allow the coverage to drop by threshold%, and posting a success status.
        branches:
          - master

    patch:
      default:
        target: 0%
    changes: no

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes
  branches:
    - "master"

ignore:
  - "LICENSES"
  - "*_test.go"
  - "*.pb.go"
  - ".git"
  - "*.yaml"
  - "*.toml"
  - "*.md"
  - "docs/.*"
  - "testing_utils/.*"

flags:
  cdc:
    carryforward: true
    paths:
      - "cdc/cdc"
      - "cdc/cmd"
      - "cdc/pkg"
  br:
    carryforward: true
    paths:
      - "br/cmd"
      - "br/pkg"

upgrade cdc mod
  cdc/go.mod
  cdc/go.sum
Due: none

[to #340] upgrade version of s3 & yaml (#339)
  br/Makefile
  br/go.mod
  br/go.sum
  br/pkg/mock/s3iface.go
  br/pkg/restore/split_test.go
  cdc/go.mod
  cdc/go.sum
Due: br

fix cdc residue metrics
  cdc/cdc/capture/capture.go
  cdc/cdc/owner/owner.go
  cdc/cdc/processor/manager.go
  cdc/cdc/processor/processor.go
Due: cdc

fix client-java dependency
  pom.xml
Due: none

fix client-java dependency (#344)
  pom.xml
Due: none

fix comments
  cdc/cdc/capture/capture.go
  cdc/cdc/owner/owner.go
  cdc/cdc/processor/manager.go
Due: cdc

fix ut
  cdc/cdc/processor/processor_test.go
Due: cdc

rerun ut
  cdc/cdc/owner/owner.go
  cdc/cdc/processor/manager.go
Due: cdc

rerun ut
  cdc/cdc/processor/manager.go
Due: cdc

[close #343]fix cdc residue metrics (#342)
  cdc/cdc/capture/capture.go
  cdc/cdc/owner/owner.go
  cdc/cdc/processor/manager.go
  cdc/cdc/processor/processor.go
  cdc/cdc/processor/processor_test.go
Due: cdc

improve fault tolerance for TSO
  br/pkg/backup/client.go
Due: br

fix
  br/pkg/backup/client.go
Due: br

fix gh
  .github/workflows/ci-br.yml
Due: none

add LTS versions
  .github/workflows/ci-br.yml
Due: none

[to #346] Improve fault tolerance for TSO (#347)
  .github/workflows/ci-br.yml
  br/pkg/backup/client.go
Due: br

support filter for key & value
  cdc/cdc/kv/client.go
  cdc/cdc/kv/region_worker.go
  cdc/cdc/processor/pipeline/keyspan.go
  cdc/cdc/processor/pipeline/puller.go
  cdc/pkg/config/config_test_data.go
  cdc/pkg/config/replica_config.go
  cdc/pkg/config/replica_config_test.go
  cdc/pkg/util/ctx.go
  cdc/pkg/util/filter.go
  cdc/pkg/util/filter_test.go
Due: cdc

add tests
  cdc/pkg/cmd/cli/cli_changefeed_update.go
  cdc/pkg/config/config_test_data.go
  cdc/pkg/config/replica_config_test.go
  cdc/pkg/util/filter.go
  cdc/pkg/util/filter_test.go
Due: cdc

polish ut
  cdc/pkg/cmd/cli/cli_changefeed_create_test.go
  cdc/pkg/cmd/cli/cli_changefeed_update.go
  cdc/pkg/cmd/cli/cli_changefeed_update_test.go
Due: cdc

rename KvFilter
  cdc/cdc/kv/region_worker.go
  cdc/cdc/processor/pipeline/puller.go
  cdc/pkg/config/replica_config.go
  cdc/pkg/config/replica_config_test.go
  cdc/pkg/util/ctx.go
  cdc/pkg/util/kv_filter.go
  cdc/pkg/util/kv_filter_test.go
Due: cdc

add it
  cdc/tests/integration_tests/_utils/check_total_kvs
  cdc/tests/integration_tests/kv_filter/conf/changefeed.toml
  cdc/tests/integration_tests/kv_filter/run.sh
  cdc/tests/integration_tests/run_group.sh
  cdc/tests/utils/rawkv_data/checksum.go
  cdc/tests/utils/rawkv_data/gen_data.go
  cdc/tests/utils/rawkv_data/main.go
Due: none

polish
  cdc/cdc/http_status_test.go
  cdc/cdc/kv/metrics.go
  cdc/cdc/kv/region_worker.go
  cdc/cdc/processor/pipeline/puller.go
  cdc/pkg/config/config_test_data.go
  cdc/pkg/config/replica_config.go
  cdc/pkg/util/kv_filter.go
  cdc/tests/integration_tests/kv_filter/run.sh
Due: cdc

fix ut
  cdc/cdc/http_status_test.go
  cdc/cdc/kv/region_worker.go
  cdc/tests/integration_tests/kv_filter/run.sh
Due: cdc

fix metrics
  cdc/Makefile
  cdc/cdc/kv/metrics.go
  cdc/metrics/grafana/tikv-cdc.json
Due: cdc

fix CI error
  cdc/Makefile
Due: none

decode user key for filter
  cdc/cdc/kv/region_worker.go
  cdc/pkg/util/kv_filter.go
  cdc/pkg/util/kv_filter_test.go
  cdc/tests/integration_tests/kv_filter/conf/changefeed.toml
Due: cdc

fix flaky it http_api
  cdc/tests/integration_tests/_utils/start_tidb_cluster
  cdc/tests/integration_tests/_utils/start_tidb_cluster_impl
  cdc/tests/integration_tests/_utils/start_tls_tidb_cluster_impl
  cdc/tests/integration_tests/http_api/run.sh
Due: none

[close #348] support filter for key & value (#349)
  cdc/Makefile
  cdc/cdc/http_status_test.go
  cdc/cdc/kv/client.go
  cdc/cdc/kv/metrics.go
  cdc/cdc/kv/region_worker.go
  cdc/cdc/processor/pipeline/keyspan.go
  cdc/cdc/processor/pipeline/puller.go
  cdc/metrics/grafana/tikv-cdc.json
  cdc/pkg/cmd/cli/cli_changefeed_create_test.go
  cdc/pkg/cmd/cli/cli_changefeed_update.go
  cdc/pkg/cmd/cli/cli_changefeed_update_test.go
  cdc/pkg/config/config_test_data.go
  cdc/pkg/config/replica_config.go
  cdc/pkg/config/replica_config_test.go
  cdc/pkg/util/ctx.go
  cdc/pkg/util/kv_filter.go
  cdc/pkg/util/kv_filter_test.go
  cdc/tests/integration_tests/_utils/check_total_kvs
  cdc/tests/integration_tests/kv_filter/conf/changefeed.toml
  cdc/tests/integration_tests/kv_filter/run.sh
  cdc/tests/integration_tests/run_group.sh
  cdc/tests/utils/rawkv_data/checksum.go
  cdc/tests/utils/rawkv_data/gen_data.go
  cdc/tests/utils/rawkv_data/main.go
Due: cdc

fix flaky it http_api (#351)
  cdc/tests/integration_tests/_utils/start_tidb_cluster
  cdc/tests/integration_tests/_utils/start_tidb_cluster_impl
  cdc/tests/integration_tests/_utils/start_tls_tidb_cluster_impl
  cdc/tests/integration_tests/http_api/run.sh
Due: none

use latest gotestsum
  cdc/Makefile
Due: none

use latest gotestsum (#354)
  cdc/Makefile
Due: none

allow Bump
  .github/workflows/pr-title-checker.yml
Due: none

allow Bump (#363)
  .github/workflows/pr-title-checker.yml
Due: none

remove tidb dependency
  cdc/cdc/capture/capture.go
  cdc/cdc/kv/region_worker.go
  cdc/cdc/kv/store_op.go
  cdc/cdc/puller/puller.go
  cdc/cdc/puller/puller_test.go
  cdc/cdc/server.go
  cdc/pkg/context/context.go
  cdc/pkg/flags/urls.go
  cdc/pkg/flags/urls_test.go
  cdc/pkg/util/ctx.go
  cdc/pkg/util/ctx_test.go
Due: cdc

polish
  cdc/cdc/kv/store_op.go
Due: cdc

remove more tidb
  cdc/cdc/capture/http_handler.go
  cdc/cdc/http_status_test.go
  cdc/cdc/kv/client_test.go
  cdc/cdc/kv/testing.go
  cdc/cmd/cdc/main.go
  cdc/go.mod
  cdc/go.sum
  cdc/pkg/cmd/server/server.go
  cdc/pkg/cmd/server/server_test.go
  cdc/pkg/httputil/httputil.go
  cdc/pkg/httputil/httputil_test.go
  cdc/pkg/regionspan/span.go
  cdc/pkg/regionspan/span_test.go
  cdc/pkg/util/ctx.go
Due: cdc

switch to official client-go v2.0.7
  cdc/go.mod
  cdc/go.sum
Due: none

move to branch for tidb-7.1
  cdc/go.mod
  cdc/go.sum
Due: none

[to #323] *: Remove tidb dependency (#367)
  cdc/cdc/capture/capture.go
  cdc/cdc/capture/http_handler.go
  cdc/cdc/http_status_test.go
  cdc/cdc/kv/client_test.go
  cdc/cdc/kv/region_worker.go
  cdc/cdc/kv/store_op.go
  cdc/cdc/kv/testing.go
  cdc/cdc/puller/puller.go
  cdc/cdc/puller/puller_test.go
  cdc/cdc/server.go
  cdc/cmd/cdc/main.go
  cdc/go.mod
  cdc/go.sum
  cdc/pkg/cmd/server/server.go
  cdc/pkg/cmd/server/server_test.go
  cdc/pkg/context/context.go
  cdc/pkg/flags/urls.go
  cdc/pkg/flags/urls_test.go
  cdc/pkg/httputil/httputil.go
  cdc/pkg/httputil/httputil_test.go
  cdc/pkg/regionspan/span.go
  cdc/pkg/regionspan/span_test.go
  cdc/pkg/util/ctx.go
  cdc/pkg/util/ctx_test.go
Due: cdc

[close #324] Switch to official client-go 44449c0 (#368)
  cdc/go.mod
  cdc/go.sum
Due: none

upgrade go1.21
  br/CONTRIBUTING.md
  br/README.md
  br/deployments/docker/Dockerfile
  br/go.mod
  br/go.sum
  br/tests/rawkv/go.mod
  br/tools/check/go.mod
  cdc/deployments/tikv-cdc/docker/Dockerfile
  cdc/deployments/tikv-cdc/docker/dev.Dockerfile
  cdc/deployments/tikv-cdc/docker/integration-test.Dockerfile
  cdc/go.mod
  cdc/go.sum
  cdc/tests/tests.Dockerfile
  cdc/tools/check/go.mod
Due: none
