Repository tikv/migration: changes, and which Codecov flags are due for each by the changed paths.
All: cdc, br

.codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 4
  round: down

  status:
    project:
      default:
        target: 85%
        threshold: 3% #Allow the coverage to drop by threshold%, and posting a success status.
        branches:
          - master

    patch:
      default:
        target: 0%
    changes: no

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes
  branches:
    - "master"

ignore:
  - "LICENSES"
  - "*_test.go"
  - "*.pb.go"
  - ".git"
  - "*.yaml"
  - "*.toml"
  - "*.md"
  - "docs/.*"
  - "testing_utils/.*"

flags:
  cdc:
    carryforward: true
    paths:
      - "cdc/cdc"
      - "cdc/cmd"
      - "cdc/pkg"
  br:
    carryforward: true
    paths:
      - "br/cmd"
      - "br/pkg"

br: fix CI timeout
  br/Makefile
Due: none

remove schema related files
  br/pkg/backup/schema.go
  br/pkg/backup/schema_test.go
Due: br

resolve conflicts
  cdc/cdc/owner/barrier.go
  cdc/cdc/owner/barrier_test.go
  cdc/cdc/owner/changefeed.go
  cdc/cdc/owner/changefeed_test.go
  cdc/cdc/owner/ddl_puller.go
  cdc/cdc/owner/ddl_puller_test.go
  cdc/cdc/owner/ddl_sink.go
  cdc/cdc/owner/ddl_sink_test.go
  cdc/cdc/owner/metrics.go
  cdc/cdc/owner/owner.go
  cdc/cdc/owner/owner_test.go
  cdc/cdc/owner/scheduler.go
  cdc/cdc/owner/scheduler_test.go
  cdc/cdc/owner/scheduler_v1.go
  cdc/cdc/owner/scheduler_v1_test.go
  cdc/cdc/owner/schema.go
  cdc/cdc/owner/schema_test.go
Due: cdc

modify onwer for tikv cdc, add scheduler_v1
  cdc/cdc/owner/scheduler.go
  cdc/cdc/owner/scheduler_v1.go
Due: cdc

modify model for tikv cdc
  cdc/cdc/model/changefeed.go
  cdc/cdc/model/http_model.go
  cdc/cdc/model/kv.go
  cdc/cdc/model/owner.go
  cdc/cdc/model/protocol.go
Due: cdc

modify unit
  cdc/cdc/owner/changefeed_test.go
  cdc/cdc/owner/feed_state_manager_test.go
  cdc/cdc/owner/owner_test.go
  cdc/cdc/owner/scheduler.go
  cdc/cdc/owner/scheduler_test.go
  cdc/cdc/owner/scheduler_v1.go
  cdc/cdc/owner/scheduler_v1_test.go
Due: cdc

modify owner for tikv cdc
  cdc/cdc/owner/barrier.go
  cdc/cdc/owner/barrier_test.go
  cdc/cdc/owner/changefeed.go
  cdc/cdc/owner/changefeed_test.go
  cdc/cdc/owner/ddl_puller.go
  cdc/cdc/owner/ddl_puller_test.go
  cdc/cdc/owner/ddl_sink.go
  cdc/cdc/owner/ddl_sink_test.go
  cdc/cdc/owner/metrics.go
  cdc/cdc/owner/owner.go
  cdc/cdc/owner/owner_test.go
  cdc/cdc/owner/scheduler.go
  cdc/cdc/owner/scheduler_test.go
  cdc/cdc/owner/scheduler_v1.go
  cdc/cdc/owner/scheduler_v1_test.go
  cdc/cdc/owner/schema.go
  cdc/cdc/owner/schema_test.go
Due: cdc

add BackupRanges back
  br/pkg/backup/client.go
Due: br

br: fix CI timeout (#71)
  br/Makefile
Due: none

move br component from tikv java client to this repo
  .gitignore
  online-bulk-load/README.md
  pom.xml
  sst-data-source/README.md
  sst-data-source/pom.xml
  sst-data-source/src/main/java/org/tikv/datasources/br/BackupDecoder.java
  sst-data-source/src/main/java/org/tikv/datasources/br/BackupMetaDecoder.java
  sst-data-source/src/main/java/org/tikv/datasources/br/KVDecoder.java
  sst-data-source/src/main/java/org/tikv/datasources/br/RawKVDecoderV1.java
  sst-data-source/src/main/java/org/tikv/datasources/br/SSTDecoder.java
  sst-data-source/src/main/java/org/tikv/datasources/br/SSTIterator.java
  sst-data-source/src/main/scala/org/tikv/datasources/sst/SSTPartitionReader.scala
  sst-data-source/src/main/scala/org/tikv/datasources/sst/SSTPartitionReaderFactory.scala
  sst-data-source/src/main/scala/org/tikv/datasources/sst/SSTScan.scala
Due: none

[to #67] remove unused function and dead code (#69)
  br/cmd/br/backup.go
  br/cmd/br/cmd.go
  br/cmd/br/restore.go
  br/pkg/backup/client.go
  br/pkg/backup/client_test.go
  br/pkg/backup/schema.go
  br/pkg/backup/schema_test.go
  br/pkg/checksum/executor_test.go
  br/pkg/restore/client.go
  br/pkg/restore/client_test.go
  br/pkg/restore/db_test.go
  br/pkg/task/backup.go
  br/pkg/task/common_test.go
  br/pkg/task/restore.go
Due: br

[to #519] move br component from tikv java client to this repo (#73)
  .gitignore
  online-bulk-load/README.md
  pom.xml
  sst-data-source/README.md
  sst-data-source/pom.xml
  sst-data-source/src/main/java/org/tikv/datasources/br/BackupDecoder.java
  sst-data-source/src/main/java/org/tikv/datasources/br/BackupMetaDecoder.java
  sst-data-source/src/main/java/org/tikv/datasources/br/KVDecoder.java
  sst-data-source/src/main/java/org/tikv/datasources/br/RawKVDecoderV1.java
  sst-data-source/src/main/java/org/tikv/datasources/br/SSTDecoder.java
  sst-data-source/src/main/java/org/tikv/datasources/br/SSTIterator.java
  sst-data-source/src/main/scala/org/tikv/datasources/sst/SSTPartitionReader.scala
  sst-data-source/src/main/scala/org/tikv/datasources/sst/SSTPartitionReaderFactory.scala
  sst-data-source/src/main/scala/org/tikv/datasources/sst/SSTScan.scala
Due: none

[to #67] remove unused code related to restore
  br/cmd/br/debug.go
  br/pkg/conn/conn.go
  br/pkg/glue/glue.go
  br/pkg/gluetidb/glue.go
  br/pkg/gluetikv/glue.go
  br/pkg/restore/client.go
  br/pkg/restore/db.go
  br/pkg/restore/db_test.go
  br/pkg/restore/systable_restore.go
  br/pkg/restore/util.go
  br/pkg/restore/util_test.go
  br/pkg/task/backup_raw.go
  br/pkg/task/common.go
  br/pkg/task/restore_raw.go
  br/pkg/utils/schema.go
  br/pkg/utils/schema_test.go
Due: br

br: cherry pick tidb#32612 to fix rawkv backup failure
  br/Makefile
  br/pkg/backup/client.go
  br/pkg/backup/push.go
  br/pkg/restore/client.go
  br/pkg/restore/client_test.go
  br/pkg/restore/pipeline_items.go
  br/pkg/restore/split.go
  br/pkg/restore/split_client.go
  br/pkg/restore/split_test.go
  br/pkg/restore/util.go
  br/pkg/task/restore_raw.go
  br/tests/README.md
  br/tests/_utils/run_services
  br/tests/br_rawkv/run.sh
  br/tests/download_tools.sh
  br/tests/run.sh
Due: br

revert unnecessary port change
  br/tests/_utils/run_services
Due: none

[to #67] remove unused code related to restore (#76)
  br/cmd/br/debug.go
  br/pkg/conn/conn.go
  br/pkg/glue/glue.go
  br/pkg/gluetidb/glue.go
  br/pkg/gluetikv/glue.go
  br/pkg/restore/client.go
  br/pkg/restore/db.go
  br/pkg/restore/db_test.go
  br/pkg/restore/systable_restore.go
  br/pkg/restore/util.go
  br/pkg/restore/util_test.go
  br/pkg/task/backup_raw.go
  br/pkg/task/common.go
  br/pkg/task/restore_raw.go
  br/pkg/utils/schema.go
  br/pkg/utils/schema_test.go
Due: br

[to #67] remove unused code related to parser
  br/go.mod
  br/go.sum
  br/pkg/checksum/executor.go
  br/pkg/checksum/validate.go
  br/pkg/kv/checksum.go
  br/pkg/kv/checksum_test.go
  br/pkg/kv/kv.go
  br/pkg/kv/kv_test.go
  br/pkg/kv/session.go
  br/pkg/kv/session_test.go
  br/pkg/metautil/metafile.go
  br/pkg/mock/backend.go
  br/pkg/mock/glue.go
  br/pkg/mock/glue_checkpoint.go
  br/pkg/mock/kv.go
  br/pkg/restore/batcher.go
  br/pkg/restore/batcher_test.go
  br/pkg/restore/client.go
  br/pkg/restore/pipeline_items.go
  br/pkg/restore/util.go
  br/pkg/restore/util_test.go
  br/pkg/task/restore.go
  br/pkg/task/restore_test.go
  br/pkg/version/version.go
  br/pkg/version/version_test.go
  br/tests/br_key_locked/locker.go
Due: br

make golangci-lint happy
  br/pkg/metautil/metafile.go
  br/pkg/restore/client.go
  br/pkg/restore/util.go
  br/tests/br_key_locked/codec.go
Due: br

remove more tidb related files and functions
  br/cmd/br/backup.go
  br/pkg/backup/client_test.go
  br/pkg/glue/glue.go
  br/pkg/mock/mock_cluster.go
  br/pkg/mock/mock_cluster_test.go
  br/pkg/restore/client_test.go
  br/pkg/restore/main_test.go
Due: br

[to #66] update kvproto to support api v2
  br/go.mod
  br/go.sum
Due: none

generate binary info in build
  br/Makefile
  br/pkg/version/build/info.go
Due: br

[to #66] update kvproto to support api v2 (#79)
  br/go.mod
  br/go.sum
Due: none

[to #67] remove unused code related to parser (#78)
  br/Makefile
  br/cmd/br/backup.go
  br/go.mod
  br/go.sum
  br/pkg/backup/client_test.go
  br/pkg/checksum/executor.go
  br/pkg/checksum/validate.go
  br/pkg/glue/glue.go
  br/pkg/kv/checksum.go
  br/pkg/kv/checksum_test.go
  br/pkg/kv/kv.go
  br/pkg/kv/kv_test.go
  br/pkg/kv/session.go
  br/pkg/kv/session_test.go
  br/pkg/metautil/metafile.go
  br/pkg/mock/backend.go
  br/pkg/mock/glue.go
  br/pkg/mock/glue_checkpoint.go
  br/pkg/mock/kv.go
  br/pkg/mock/mock_cluster.go
  br/pkg/mock/mock_cluster_test.go
  br/pkg/restore/batcher.go
  br/pkg/restore/batcher_test.go
  br/pkg/restore/client.go
  br/pkg/restore/client_test.go
  br/pkg/restore/main_test.go
  br/pkg/restore/pipeline_items.go
  br/pkg/restore/util.go
  br/pkg/restore/util_test.go
  br/pkg/task/restore.go
  br/pkg/task/restore_test.go
  br/pkg/version/build/info.go
  br/pkg/version/version.go
  br/pkg/version/version_test.go
  br/tests/br_key_locked/codec.go
  br/tests/br_key_locked/locker.go
Due: br

[to #67] clean Makefile
  .github/workflows/ci-br.yml
  br/Makefile
Due: none

modify job name
  .github/workflows/ci-br.yml
Due: none

split check
  .github/workflows/ci-br.yml
  br/Makefile
Due: none

gix github action
  .github/workflows/ci-br.yml
Due: none

tiny refactor
  br/Makefile
Due: none

address comment
  br/Makefile
Due: none

refactor make check
  br/Makefile
Due: none

[to #67] clean Makefile (#80)
  .github/workflows/ci-br.yml
  br/Makefile
Due: none

[to #67] remove some unused code
  br/pkg/metautil/metafile.go
  br/pkg/restore/client.go
  br/pkg/restore/import.go
  br/pkg/restore/util.go
Due: br

remove web
  br/web/README.md
  br/web/docs/InfoPage.png
  br/web/docs/ProgressPage.png
  br/web/docs/TableProgressPage.png
  br/web/docs/api.yaml
  br/web/go.mod
  br/web/go.sum
  br/web/package-lock.json
  br/web/package.json
  br/web/public/index.html
  br/web/src/ChunksProgressPanel.tsx
  br/web/src/DottedProgress.tsx
  br/web/src/EnginesProgressPanel.tsx
  br/web/src/ErrorButton.tsx
  br/web/src/InfoButton.tsx
  br/web/src/InfoPage.tsx
  br/web/src/MoveTaskButton.tsx
  br/web/src/PauseButton.tsx
  br/web/src/ProgressPage.tsx
  br/web/src/RefreshButton.tsx
  br/web/src/TableProgressCard.tsx
  br/web/src/TableProgressPage.tsx
  br/web/src/TaskButton.tsx
  br/web/src/TitleBar.tsx
  br/web/src/TitleLink.tsx
  br/web/src/api.ts
  br/web/src/index.tsx
  br/web/src/json-bigint.d.ts
  br/web/tsconfig.json
  br/web/webpack.config.js
Due: none

[to #67] setup backup/restore integration test for rawkv
  br/Makefile
  br/tests/br_rawkv/go.mod
  br/tests/br_rawkv/go.sum
  br/tests/br_rawkv/run.py
Due: none

add github action
  .github/config/br_pd.toml
  .github/config/br_rawkv.toml
  .github/workflows/ci-br.yml
  br/Makefile
  br/tests/br_rawkv/run.py
Due: none

[to #67] setup backup/restore integration test for rawkv (#82)
  .github/config/br_pd.toml
  .github/config/br_rawkv.toml
  .github/workflows/ci-br.yml
  br/Makefile
  br/tests/br_rawkv/go.mod
  br/tests/br_rawkv/go.sum
  br/tests/br_rawkv/run.py
Due: none

[to#67] remove some unused code (#81)
  br/pkg/metautil/metafile.go
  br/pkg/restore/client.go
  br/pkg/restore/import.go
  br/pkg/restore/util.go
  br/web/README.md
  br/web/docs/InfoPage.png
  br/web/docs/ProgressPage.png
  br/web/docs/TableProgressPage.png
  br/web/docs/api.yaml
  br/web/go.mod
  br/web/go.sum
  br/web/package-lock.json
  br/web/package.json
  br/web/public/index.html
  br/web/src/ChunksProgressPanel.tsx
  br/web/src/DottedProgress.tsx
  br/web/src/EnginesProgressPanel.tsx
  br/web/src/ErrorButton.tsx
  br/web/src/InfoButton.tsx
  br/web/src/InfoPage.tsx
  br/web/src/MoveTaskButton.tsx
  br/web/src/PauseButton.tsx
  br/web/src/ProgressPage.tsx
  br/web/src/RefreshButton.tsx
  br/web/src/TableProgressCard.tsx
  br/web/src/TableProgressPage.tsx
  br/web/src/TaskButton.tsx
  br/web/src/TitleBar.tsx
  br/web/src/TitleLink.tsx
  br/web/src/api.ts
  br/web/src/index.tsx
  br/web/src/json-bigint.d.ts
  br/web/tsconfig.json
  br/web/webpack.config.js
Due: br
