Repository tikv/migration: changes, and which Codecov flags are due for each by the changed paths.
All: cdc, br

.codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 4
  round: down

  status:
    project:
      default:
        target: auto
        threshold: 3% #Allow the coverage to drop by threshold%, and posting a success status.
        branches:
          - master

    patch:
      default:
        target: 0%
    changes: no

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes
  branches:
    - "master"

ignore:
  - "LICENSES"
  - "*_test.go"
  - "*.pb.go"
  - ".git"
  - "*.yaml"
  - "*.toml"
  - "*.md"
  - "docs/.*"
  - "testing_utils/.*"

flags:
  cdc:
    carryforward: true
    paths:
      - "cdc/cdc"
      - "cdc/cmd"
      - "cdc/pkg"
  br:
    carryforward: true
    paths:
      - "br/cmd"
      - "br/pkg"

[close #394] Fix disorder of messages to Kafka (#397)
  cdc/cdc/sink/mq_test.go
  cdc/cdc/sink/producer/kafka/config.go
  cdc/cdc/sink/producer/kafka/kafka_test.go
Due: cdc

build arm64 artifact
  .github/workflows/release_version.yml
  cdc/Makefile
Due: none

build arm64 artifact (#406)
  .github/workflows/release_version.yml
  cdc/Makefile
Due: none

fix arm64 build
  .github/workflows/release_version.yml
  br/Makefile
  cdc/Makefile
Due: none

fix arm64 build (#408)
  .github/workflows/release_version.yml
  br/Makefile
  cdc/Makefile
Due: none

remove "prepare_test_binaries" flag
  cdc/Makefile
Due: none

remove "prepare_test_binaries" flag (#410)
  cdc/Makefile
Due: none

br: Split for smaller batch of keys
  br/pkg/restore/split.go
Due: br

get region
  br/pkg/restore/split.go
Due: br

cover by integration test
  .github/config/br_pd.toml
  .github/config/br_rawkv.toml
  br/Makefile
  br/pkg/restore/client.go
  br/pkg/restore/client_test.go
  br/pkg/restore/split.go
  br/pkg/restore/split_client.go
  br/pkg/restore/split_test.go
  br/pkg/restore/util.go
  br/pkg/task/common.go
  br/pkg/task/config.go
  br/pkg/task/restore_raw.go
  br/tests/rawkv/main.go
  br/tests/rawkv/tikv_br.go
Due: br

[close #421] br: Split for smaller batch of keys (#422)
  .github/config/br_pd.toml
  .github/config/br_rawkv.toml
  br/Makefile
  br/pkg/restore/client.go
  br/pkg/restore/client_test.go
  br/pkg/restore/split.go
  br/pkg/restore/split_client.go
  br/pkg/restore/split_test.go
  br/pkg/restore/util.go
  br/pkg/task/common.go
  br/pkg/task/config.go
  br/pkg/task/restore_raw.go
  br/tests/rawkv/main.go
  br/tests/rawkv/tikv_br.go
Due: br

[close #421] br: Split for smaller batch of keys (#422)
  .github/config/br_pd.toml
  .github/config/br_rawkv.toml
  br/Makefile
  br/pkg/restore/client.go
  br/pkg/restore/split.go
  br/pkg/restore/split_client.go
  br/pkg/restore/split_test.go
  br/pkg/restore/util.go
  br/pkg/task/common.go
  br/pkg/task/config.go
  br/pkg/task/restore_raw.go
  br/tests/rawkv/main.go
  br/tests/rawkv/tikv_br.go
Due: br

fix ci
  .github/workflows/ci-br.yml
  br/pkg/restore/split_test.go
Due: br

fix tiup startup
  .github/workflows/ci-br.yml
Due: none

fix api version
  .github/workflows/ci-br.yml
Due: none

polish
  .github/workflows/ci-br.yml
Due: none

[close #421] [br-release-1.0] br: Split for smaller batch of keys (#422) (#423)
  .github/config/br_pd.toml
  .github/config/br_rawkv.toml
  .github/workflows/ci-br.yml
  br/Makefile
  br/pkg/restore/client.go
  br/pkg/restore/split.go
  br/pkg/restore/split_client.go
  br/pkg/restore/split_test.go
  br/pkg/restore/util.go
  br/pkg/task/common.go
  br/pkg/task/config.go
  br/pkg/task/restore_raw.go
  br/tests/rawkv/main.go
  br/tests/rawkv/tikv_br.go
Due: br

revert to go 1.18.1
  .github/workflows/release_version.yml
Due: none

disable CGO_ENABLED
  br/Makefile
Due: none

[close #407] [br-release-1.0] Fix arm64 build (#425)
  .github/workflows/release_version.yml
  br/Makefile
  cdc/Makefile
Due: none

br: Fix build on arm64
  br/Makefile
  cdc/Makefile
Due: none

br: Fix build on arm64 (#426)
  br/Makefile
  cdc/Makefile
Due: none

ci: add job `cdc-unit-test`
  .github/workflows/ci-cdc.yml
Due: none

ci: try to trigger cdc ci workflow
  .github/workflows/ci-cdc.yml
Due: none

github: install gocov in cdc unit test workflow
  .github/workflows/ci-cdc.yml
Due: none

fix: specify gocov version to v1.2.0 in CI workflow
  .github/workflows/ci-cdc.yml
Due: none

Apply suggestion from @ti-chi-bot
  .github/workflows/ci-cdc.yml
Due: none

ci: remove bulk load github workflows
  .github/workflows/build.yml
  .github/workflows/test.yml
Due: none

ci: merge cdc jobs to reduce duplicated setup
  .github/workflows/ci-cdc.yml
Due: none

ci: optimize cdc workflow runtime and maintenance
  .github/workflows/ci-cdc.yml
Due: none

ci: rename CI job and consolidate build steps
  .github/workflows/ci-cdc.yml
Due: none

ci: read cdc go version from go.mod
  .github/workflows/ci-cdc.yml
Due: none

[fix #430] pin gocov to v1.1.0 and remove duplicate install step in CDC CI (#431)
  .github/workflows/build.yml
  .github/workflows/ci-cdc.yml
  .github/workflows/test.yml
  cdc/tools/Makefile
Due: none
