Repository tikv/migration: changes, and which Codecov flags are due for each by the changed paths.
All: cdc, br

backup-ts and address review comments
  br/README.md
  br/pkg/task/backup_raw.go
  br/tests/rawkv/main.go
Due: br

address review comments
  br/README.md
Due: none

[close #227] Update BR readme (#228)
  br/CONTRIBUTING.md
  br/README.md
  br/pkg/task/backup_raw.go
  br/tests/rawkv/main.go
Due: br

fix tls support issue
  br/pkg/conn/conn.go
  br/pkg/pdutil/pd.go
Due: br

add tls for checksum
  .github/workflows/ci-br.yml
  br/cmd/br/debug.go
  br/pkg/checksum/executor.go
  br/pkg/task/backup_raw.go
  br/pkg/task/common.go
  br/pkg/task/config.go
  br/pkg/task/restore_raw.go
  br/pkg/utils/tls_config.go
  br/tests/rawkv/main.go
Due: br

add integration test
  .github/workflows/ci-br.yml
  br/Makefile
  br/tests/rawkv/main.go
  br/tests/rawkv/tikv_br.go
  br/tests/utils/start_tls_tikv_cluster
  br/tests/utils/start_tls_tikv_cluster_impl
  br/tests/utils/test_prepare
Due: none

show diff
  cdc/tests/.unmodify/changefeed_pause_resume/run.sh
  cdc/tests/.unmodify/cli/run.sh
  cdc/tests/.unmodify/gc_safepoint/run.sh
  cdc/tests/.unmodify/http_proxies/run.sh
  cdc/tests/.unmodify/kv_client_stream_reconnect/run.sh
  cdc/tests/.unmodify/multi_capture/run.sh
  cdc/tests/.unmodify/processor_err_chan/run.sh
  cdc/tests/.unmodify/processor_resolved_ts_fallback/run.sh
  cdc/tests/.unmodify/processor_stop_delay/run.sh
  cdc/tests/.unmodify/sink_hang/run.sh
  cdc/tests/integration_tests/processor_resolved_ts_fallback/conf/diff_config.toml
  cdc/tests/integration_tests/processor_stop_delay/conf/diff_config.toml
  cdc/tests/integration_tests/sink_hang/conf/diff_config.toml
  cdc/tests/integration_tests/sink_hang/run.sh
Due: none

fix check
  cdc/tests/.unmodify/changefeed_pause_resume/run.sh
  cdc/tests/.unmodify/kv_client_stream_reconnect/run.sh
  cdc/tests/.unmodify/multi_capture/run.sh
  cdc/tests/.unmodify/processor_err_chan/run.sh
  cdc/tests/.unmodify/processor_resolved_ts_fallback/run.sh
  cdc/tests/.unmodify/processor_stop_delay/run.sh
  cdc/tests/.unmodify/sink_hang/run.sh
  cdc/tests/integration_tests/changefeed_pause_resume/run.sh
  cdc/tests/integration_tests/changefeed_reconstruct/run.sh
  cdc/tests/integration_tests/cli/run.sh
  cdc/tests/integration_tests/gc_safepoint/run.sh
  cdc/tests/integration_tests/kv_client_stream_reconnect/run.sh
  cdc/tests/integration_tests/multi_capture/run.sh
  cdc/tests/integration_tests/processor_err_chan/run.sh
  cdc/tests/integration_tests/processor_resolved_ts_fallback/run.sh
  cdc/tests/integration_tests/processor_stop_delay/run.sh
  cdc/tests/integration_tests/sink_hang/run.sh
Due: none

fix comment
  cdc/tests/integration_tests/multi_capture/run.sh
Due: none

add more integration test
  cdc/tests/integration_tests/_utils/start_tls_tidb_cluster_impl
  cdc/tests/integration_tests/changefeed_pause_resume/run.sh
  cdc/tests/integration_tests/changefeed_reconstruct/run.sh
  cdc/tests/integration_tests/cli/run.sh
  cdc/tests/integration_tests/gc_safepoint/conf/diff_config.toml
  cdc/tests/integration_tests/gc_safepoint/run.sh
  cdc/tests/integration_tests/http_proxies/run-proxy.go
  cdc/tests/integration_tests/http_proxies/run.sh
  cdc/tests/integration_tests/kv_client_stream_reconnect/conf/diff_config.toml
  cdc/tests/integration_tests/kv_client_stream_reconnect/run.sh
Due: none

add more integration test
  cdc/cdc/sink/tikv.go
  cdc/tests/integration_tests/processor_err_chan/run.sh
  cdc/tests/integration_tests/processor_resolved_ts_fallback/conf/diff_config.toml
  cdc/tests/integration_tests/processor_resolved_ts_fallback/run.sh
  cdc/tests/integration_tests/processor_stop_delay/conf/diff_config.toml
  cdc/tests/integration_tests/processor_stop_delay/run.sh
  cdc/tests/integration_tests/sink_hang/conf/diff_config.toml
  cdc/tests/integration_tests/sink_hang/run.sh
Due: cdc

fix comment
  cdc/cdc/sink/tikv.go
  cdc/tests/integration_tests/multi_capture/run.sh
  cdc/tests/integration_tests/processor_resolved_ts_fallback/run.sh
Due: cdc

show diff
  cdc/tests/.unmodify/changefeed_pause_resume/run.sh
  cdc/tests/.unmodify/kv_client_stream_reconnect/run.sh
  cdc/tests/.unmodify/multi_capture/run.sh
  cdc/tests/.unmodify/processor_err_chan/run.sh
  cdc/tests/.unmodify/processor_resolved_ts_fallback/run.sh
  cdc/tests/.unmodify/processor_stop_delay/run.sh
  cdc/tests/.unmodify/sink_hang/run.sh
Due: none

fix go.mod
  cdc/go.mod
  cdc/go.sum
Due: none

fix check
  cdc/go.mod
Due: none

fix check
  cdc/tests/integration_tests/processor_err_chan/run.sh
Due: none

fix check
  cdc/cdc/sink/tikv.go
Due: cdc

fix comment
  cdc/tests/.unmodify/changefeed_pause_resume/run.sh
  cdc/tests/.unmodify/processor_err_chan/run.sh
  cdc/tests/integration_tests/changefeed_auto_stop/run.sh
  cdc/tests/integration_tests/changefeed_pause_resume/run.sh
  cdc/tests/integration_tests/gc_safepoint/run.sh
  cdc/tests/integration_tests/processor_stop_delay/run.sh
Due: none

add sleep
  cdc/tests/integration_tests/processor_err_chan/run.sh
Due: none

fix comment
  cdc/tests/.unmodify/processor_stop_delay/run.sh
Due: none

fix comment
  cdc/cdc/sink/tikv.go
Due: cdc

fix check
  cdc/tests/.unmodify/changefeed_pause_resume/run.sh
  cdc/tests/integration_tests/changefeed_auto_stop/run.sh
  cdc/tests/integration_tests/changefeed_pause_resume/run.sh
Due: none

add more integration test
  cdc/tests/integration_tests/gc_safepoint/conf/diff_config.toml
  cdc/tests/integration_tests/kv_client_stream_reconnect/conf/diff_config.toml
  cdc/tests/integration_tests/multi_capture/run.sh
Due: none

fix it: processor_resolved_ts_fallback
  cdc/tests/integration_tests/multi_capture/run.sh
  cdc/tests/integration_tests/processor_resolved_ts_fallback/run.sh
Due: none

address review comments
  .github/workflows/ci-br.yml
  br/tests/utils/start_tls_tikv_cluster
  br/tests/utils/start_tls_tikv_cluster_impl
Due: none

fix comment
  cdc/cdc/sink/tikv_test.go
Due: cdc

fix comment
  cdc/tests/utils/rawkv_data/main.go
Due: none

remove len check
  cdc/cdc/sink/tikv_test.go
Due: cdc

address review comments and add more logs
  br/tests/utils/start_tls_tikv_cluster
  br/tests/utils/start_tls_tikv_cluster_impl
Due: none

fix script issue
  br/tests/utils/start_tls_tikv_cluster_impl
Due: none

[to #134] add more test case for tikv-cdc (#224)
  cdc/cdc/sink/tikv.go
  cdc/go.mod
  cdc/go.sum
  cdc/tests/integration_tests/_utils/start_tls_tidb_cluster_impl
  cdc/tests/integration_tests/changefeed_auto_stop/run.sh
  cdc/tests/integration_tests/changefeed_pause_resume/run.sh
  cdc/tests/integration_tests/changefeed_reconstruct/run.sh
  cdc/tests/integration_tests/cli/run.sh
  cdc/tests/integration_tests/gc_safepoint/run.sh
  cdc/tests/integration_tests/http_proxies/run-proxy.go
  cdc/tests/integration_tests/http_proxies/run.sh
  cdc/tests/integration_tests/kv_client_stream_reconnect/run.sh
  cdc/tests/integration_tests/multi_capture/run.sh
  cdc/tests/integration_tests/processor_err_chan/run.sh
  cdc/tests/integration_tests/processor_resolved_ts_fallback/run.sh
  cdc/tests/integration_tests/processor_stop_delay/run.sh
  cdc/tests/integration_tests/sink_hang/run.sh
Due: cdc

remove modified test case
  cdc/tests/.unmodify/changefeed_auto_stop/conf/diff_config.toml
  cdc/tests/.unmodify/changefeed_auto_stop/conf/workload
  cdc/tests/.unmodify/changefeed_auto_stop/run.sh
  cdc/tests/.unmodify/changefeed_error/conf/diff_config.toml
  cdc/tests/.unmodify/changefeed_error/conf/workload
  cdc/tests/.unmodify/changefeed_finish/conf/diff_config.toml
  cdc/tests/.unmodify/changefeed_finish/run.sh
  cdc/tests/.unmodify/changefeed_pause_resume/conf/diff_config.toml
  cdc/tests/.unmodify/changefeed_pause_resume/run.sh
  cdc/tests/.unmodify/changefeed_reconstruct/conf/diff_config.toml
  cdc/tests/.unmodify/changefeed_reconstruct/conf/workload
  cdc/tests/.unmodify/changefeed_reconstruct/run.sh
  cdc/tests/.unmodify/gc_safepoint/conf/diff_config.toml
  cdc/tests/.unmodify/kv_client_stream_reconnect/conf/diff_config.toml
  cdc/tests/.unmodify/kv_client_stream_reconnect/run.sh
  cdc/tests/.unmodify/multi_capture/conf/diff_config.toml
  cdc/tests/.unmodify/multi_capture/conf/workload1
  cdc/tests/.unmodify/multi_capture/conf/workload2
  cdc/tests/.unmodify/multi_capture/run.sh
  cdc/tests/.unmodify/processor_err_chan/conf/diff_config.toml
  cdc/tests/.unmodify/processor_err_chan/run.sh
  cdc/tests/.unmodify/processor_resolved_ts_fallback/conf/diff_config.toml
  cdc/tests/.unmodify/processor_resolved_ts_fallback/run.sh
  cdc/tests/.unmodify/processor_stop_delay/conf/diff_config.toml
  cdc/tests/.unmodify/processor_stop_delay/run.sh
  cdc/tests/.unmodify/sink_hang/conf/diff_config.toml
  cdc/tests/.unmodify/sink_hang/run.sh
Due: none

[close #235] Support TLS connection for TiKV-BR (#236)
  .github/workflows/ci-br.yml
  br/Makefile
  br/cmd/br/debug.go
  br/pkg/checksum/executor.go
  br/pkg/conn/conn.go
  br/pkg/pdutil/pd.go
  br/pkg/task/backup_raw.go
  br/pkg/task/common.go
  br/pkg/task/config.go
  br/pkg/task/restore_raw.go
  br/pkg/utils/tls_config.go
  br/tests/rawkv/main.go
  br/tests/rawkv/tikv_br.go
  br/tests/utils/start_tls_tikv_cluster
  br/tests/utils/start_tls_tikv_cluster_impl
  br/tests/utils/test_prepare
Due: br

add https for tikv-sink
  cdc/cdc/sink/tikv_test.go
Due: cdc

.
  cdc/tests/integration_tests/run.sh
Due: none

remove modified test case (#237)
  cdc/tests/.unmodify/changefeed_auto_stop/conf/diff_config.toml
  cdc/tests/.unmodify/changefeed_auto_stop/conf/workload
  cdc/tests/.unmodify/changefeed_auto_stop/run.sh
  cdc/tests/.unmodify/changefeed_error/conf/diff_config.toml
  cdc/tests/.unmodify/changefeed_error/conf/workload
  cdc/tests/.unmodify/changefeed_finish/conf/diff_config.toml
  cdc/tests/.unmodify/changefeed_finish/run.sh
  cdc/tests/.unmodify/changefeed_pause_resume/conf/diff_config.toml
  cdc/tests/.unmodify/changefeed_pause_resume/run.sh
  cdc/tests/.unmodify/changefeed_reconstruct/conf/diff_config.toml
  cdc/tests/.unmodify/changefeed_reconstruct/conf/workload
  cdc/tests/.unmodify/changefeed_reconstruct/run.sh
  cdc/tests/.unmodify/gc_safepoint/conf/diff_config.toml
  cdc/tests/.unmodify/kv_client_stream_reconnect/conf/diff_config.toml
  cdc/tests/.unmodify/kv_client_stream_reconnect/run.sh
  cdc/tests/.unmodify/multi_capture/conf/diff_config.toml
  cdc/tests/.unmodify/multi_capture/conf/workload1
  cdc/tests/.unmodify/multi_capture/conf/workload2
  cdc/tests/.unmodify/multi_capture/run.sh
  cdc/tests/.unmodify/processor_err_chan/conf/diff_config.toml
  cdc/tests/.unmodify/processor_err_chan/run.sh
  cdc/tests/.unmodify/processor_resolved_ts_fallback/conf/diff_config.toml
  cdc/tests/.unmodify/processor_resolved_ts_fallback/run.sh
  cdc/tests/.unmodify/processor_stop_delay/conf/diff_config.toml
  cdc/tests/.unmodify/processor_stop_delay/run.sh
  cdc/tests/.unmodify/sink_hang/conf/diff_config.toml
  cdc/tests/.unmodify/sink_hang/run.sh
Due: none

fix check
  cdc/tests/integration_tests/run.sh
Due: none

[close #232] Add https for tikv sink (#233)
  cdc/cdc/owner/feed_state_manager.go
  cdc/cdc/sink/tikv.go
  cdc/cdc/sink/tikv_test.go
  cdc/tests/integration_tests/_utils/check_sync_diff
  cdc/tests/integration_tests/_utils/rawkv_op
  cdc/tests/integration_tests/sink_tls/run.sh
  cdc/tests/utils/rawkv_data/checksum.go
  cdc/tests/utils/rawkv_data/gen_data.go
  cdc/tests/utils/rawkv_data/main.go
Due: cdc

add gcttl and range in readme
  br/README-cn.md
  br/README.md
Due: none

TLS config
  br/Dockerfile
  br/README-cn.md
  br/README.md
Due: none

Path conditions:
  cdc: any of: cdc/cdc, cdc/cmd, cdc/pkg, but not: LICENSES, *_test.go, *.pb.go, .git, *.yaml, *.toml, *.md, docs/.*, testing_utils/.*
  br: any of: br/cmd, br/pkg, but not: LICENSES, *_test.go, *.pb.go, .git, *.yaml, *.toml, *.md, docs/.*, testing_utils/.*
