Repository tikv/migration: changes, and which Codecov flags are due for each by the changed paths.
All: cdc, br

.codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 4
  round: down

  status:
    project:
      default:
        target: auto
        threshold: 3% #Allow the coverage to drop by threshold%, and posting a success status.
        branches:
          - master

    patch:
      default:
        target: 0%
    changes: no

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes
  branches:
    - "master"

ignore:
  - "LICENSES"
  - "*_test.go"
  - "*.pb.go"
  - ".git"
  - "*.yaml"
  - "*.toml"
  - "*.md"
  - "docs/.*"
  - "testing_utils/.*"

flags:
  cdc:
    carryforward: true
    paths:
      - "cdc/cdc"
      - "cdc/cmd"
      - "cdc/pkg"
  br:
    carryforward: true
    paths:
      - "br/cmd"
      - "br/pkg"

add unit test coverage
  br/Makefile
Due: none

fix error
  cdc/Makefile
  cdc/results.xml
  cdc/tests/integration_tests/_certificates/ca.pem
  cdc/tests/integration_tests/_certificates/client-key.pem
  cdc/tests/integration_tests/_certificates/client.pem
  cdc/tests/integration_tests/_certificates/kafka.server.keystore.jks
  cdc/tests/integration_tests/_certificates/kafka.server.truststore.jks
  cdc/tests/integration_tests/_certificates/server-key.pem
  cdc/tests/integration_tests/_certificates/server.pem
Due: none

fix typo
  br/Makefile
Due: none

ci specified test task
  .github/workflows/ci-br.yml
  br/Makefile
Due: none

remove integration test
  .github/workflows/ci-cdc.yml
Due: none

test it
  cdc/tests/integration_tests/autorandom/run.sh
Due: none

integration test
  cdc/tests/integration_tests/autorandom/run.sh
Due: none

remove unused file
  cdc/results.xml
  cdc/tests/.unmodify/_utils/check_contains
  cdc/tests/.unmodify/_utils/check_logs
  cdc/tests/.unmodify/_utils/check_logs_contains
  cdc/tests/.unmodify/_utils/check_not_contains
  cdc/tests/.unmodify/_utils/check_sync_diff
  cdc/tests/.unmodify/_utils/check_table_exists
  cdc/tests/.unmodify/_utils/cleanup_process
  cdc/tests/.unmodify/_utils/ensure
  cdc/tests/.unmodify/_utils/random_kill_process
  cdc/tests/.unmodify/_utils/run_cdc_cli
  cdc/tests/.unmodify/_utils/run_cdc_cli_tso_query
  cdc/tests/.unmodify/_utils/run_cdc_server
  cdc/tests/.unmodify/_utils/run_kafka_consumer
  cdc/tests/.unmodify/_utils/run_sql
  cdc/tests/.unmodify/_utils/run_sql_file
  cdc/tests/.unmodify/_utils/start_tidb_cluster
  cdc/tests/.unmodify/_utils/start_tidb_cluster_impl
  cdc/tests/.unmodify/_utils/start_tls_tidb_cluster
  cdc/tests/.unmodify/_utils/start_tls_tidb_cluster_impl
  cdc/tests/.unmodify/_utils/stop_tidb_cluster
  cdc/tests/.unmodify/_utils/test_prepare
  cdc/tests/.unmodify/_utils/tiflash-users.toml
Due: none

remove unused file
  cdc/tests/.unmodify/autorandom/conf/diff_config.toml
  cdc/tests/.unmodify/autorandom/conf/tidb_config.toml
  cdc/tests/.unmodify/autorandom/data/test.sql
  cdc/tests/.unmodify/autorandom/run.sh
Due: none

add backup unit test
  br/pkg/backup/check.go
  br/pkg/backup/check_test.go
  br/pkg/backup/push_test.go
Due: br

fix comment
  cdc/tests/integration_tests/run.sh
  cdc/tests/utils/rawkv_data/checksum.go
  cdc/tests/utils/rawkv_data/gen_data.go
  cdc/tests/utils/rawkv_data/main.go
Due: none

add metawriter test
  br/cmd/br/main_test.go
  br/pkg/metautil/metafile_test.go
Due: br

improve code coverage
  br/pkg/pdutil/utils.go
  br/pkg/restore/client.go
  br/pkg/restore/merge_test.go
  br/pkg/restore/range_test.go
  br/pkg/restore/split_client.go
  br/pkg/restore/split_test.go
  br/pkg/restore/util_test.go
Due: br

fix comment
  cdc/Makefile
  cdc/tests/integration_tests/_utils/check_sync_diff
  cdc/tests/integration_tests/_utils/rawkv_data
  cdc/tests/integration_tests/_utils/rawkv_op
  cdc/tests/integration_tests/_utils/start_tidb_cluster_impl
  cdc/tests/integration_tests/autorandom/run.sh
Due: none

fix check
  cdc/tests/integration_tests/_utils/check_sync_diff
  cdc/tests/integration_tests/_utils/rawkv_op
  cdc/tests/integration_tests/_utils/start_tidb_cluster_impl
Due: none

address review comments
  br/pkg/backup/check_test.go
  br/pkg/backup/push_test.go
Due: br

[close #217] Add BR unit test coverage statistics (#218)
  .github/workflows/ci-br.yml
  br/Makefile
  br/cmd/br/main_test.go
  br/pkg/backup/check.go
  br/pkg/backup/check_test.go
  br/pkg/backup/push_test.go
  br/pkg/metautil/metafile_test.go
  br/pkg/pdutil/utils.go
  br/pkg/restore/client.go
  br/pkg/restore/merge_test.go
  br/pkg/restore/range_test.go
  br/pkg/restore/split_client.go
  br/pkg/restore/split_test.go
  br/pkg/restore/util_test.go
Due: br

support more args
  br/pkg/storage/s3.go
  br/pkg/task/backup_raw.go
  br/pkg/task/common.go
  br/pkg/task/restore_raw.go
Due: br

integration test
  br/pkg/restore/client.go
  br/pkg/task/restore_raw.go
  br/tests/rawkv/main.go
  br/tests/rawkv/tikv_br.go
Due: br

remove useless code
  br/pkg/utils/db.go
  br/pkg/version/build/info.go
  br/pkg/version/build/info_test.go
  br/pkg/version/version.go
  br/pkg/version/version_test.go
Due: br

hide cipher args
  br/pkg/conn/conn.go
  br/pkg/gluetikv/glue_test.go
  br/pkg/task/common.go
Due: br

remove useless code
  br/pkg/storage/s3.go
Due: br

go mod tidy
  br/go.mod
  br/go.sum
Due: none

remove useless code
  br/go.mod
  br/go.sum
  br/pkg/restore/util.go
  br/pkg/utils/backoff.go
  br/pkg/utils/retry.go
Due: br

remove useless code
  br/go.mod
Due: none

docs for TiUP
  cdc/README.md
  cdc/deployments/tikv-cdc/config-templates/scale-out.example.yaml
  cdc/deployments/tikv-cdc/config-templates/topology.example.yaml
  cdc/manual-cn.md
Due: none

docs for TiUP (#223)
  cdc/README.md
  cdc/deployments/tikv-cdc/config-templates/scale-out.example.yaml
  cdc/deployments/tikv-cdc/config-templates/topology.example.yaml
  cdc/manual-cn.md
Due: none

address review comment
  br/tests/rawkv/main.go
Due: none

[close #220] TiKV-BR support key range (#221)
  br/go.mod
  br/go.sum
  br/pkg/conn/conn.go
  br/pkg/gluetikv/glue_test.go
  br/pkg/restore/client.go
  br/pkg/restore/util.go
  br/pkg/storage/s3.go
  br/pkg/task/backup_raw.go
  br/pkg/task/common.go
  br/pkg/task/restore_raw.go
  br/pkg/utils/backoff.go
  br/pkg/utils/db.go
  br/pkg/utils/retry.go
  br/pkg/version/build/info.go
  br/pkg/version/build/info_test.go
  br/pkg/version/version.go
  br/pkg/version/version_test.go
  br/tests/rawkv/main.go
  br/tests/rawkv/tikv_br.go
Due: br

add new test case & fix changefeed finish
  cdc/cdc/owner/changefeed.go
  cdc/cdc/processor/pipeline/sink.go
  cdc/cdc/processor/processor.go
  cdc/tests/integration_tests/availability/capture.sh
  cdc/tests/integration_tests/availability/owner.sh
  cdc/tests/integration_tests/availability/processor.sh
  cdc/tests/integration_tests/availability/run.sh
  cdc/tests/integration_tests/changefeed_auto_stop/run.sh
  cdc/tests/integration_tests/changefeed_error/run.sh
  cdc/tests/integration_tests/changefeed_fast_fail/run.sh
  cdc/tests/integration_tests/changefeed_finish/run.sh
Due: cdc

fix check
  cdc/tests/integration_tests/availability/capture.sh
  cdc/tests/integration_tests/availability/owner.sh
  cdc/tests/integration_tests/availability/processor.sh
  cdc/tests/integration_tests/changefeed_auto_stop/run.sh
  cdc/tests/integration_tests/changefeed_error/run.sh
  cdc/tests/integration_tests/changefeed_fast_fail/run.sh
  cdc/tests/integration_tests/changefeed_finish/run.sh
Due: none

show diff
  cdc/tests/.unmodify/availability/capture.sh
  cdc/tests/.unmodify/availability/owner.sh
  cdc/tests/.unmodify/availability/processor.sh
  cdc/tests/.unmodify/availability/run.sh
Due: none

fix check
  cdc/tests/integration_tests/autorandom/run.sh
  cdc/tests/integration_tests/availability/run.sh
  cdc/tests/integration_tests/changefeed_error/run.sh
  cdc/tests/integration_tests/changefeed_fast_fail/run.sh
Due: none

sleep more time
  cdc/tests/integration_tests/autorandom/run.sh
  cdc/tests/integration_tests/availability/run.sh
  cdc/tests/integration_tests/changefeed_auto_stop/run.sh
  cdc/tests/integration_tests/changefeed_error/run.sh
  cdc/tests/integration_tests/changefeed_fast_fail/run.sh
  cdc/tests/integration_tests/changefeed_finish/run.sh
Due: none

fix port
  cdc/tests/integration_tests/changefeed_auto_stop/run.sh
Due: none

fix check
  cdc/tests/integration_tests/changefeed_auto_stop/run.sh
Due: none

show diff
  cdc/tests/.unmodify/changefeed_auto_stop/run.sh
  cdc/tests/.unmodify/changefeed_error/run.sh
  cdc/tests/.unmodify/changefeed_fast_fail/run.sh
  cdc/tests/.unmodify/changefeed_finish/run.sh
Due: none
