Repository tikv/migration: changes, and which Codecov flags are due for each by the changed paths.
All: cdc, br

[fix #100] support current pd's safepoint update interface (#101)
  gc-worker/go.mod
  gc-worker/go.sum
  gc-worker/server/server.go
  gc-worker/server/server_test.go
Due: none

clean br command args
  br/cmd/br/backup.go
  br/cmd/br/cmd.go
  br/cmd/br/main.go
  br/cmd/br/restore.go
  br/pkg/storage/azblob.go
  br/pkg/storage/gcs.go
  br/pkg/storage/s3.go
  br/pkg/task/backup.go
  br/pkg/task/backup_raw.go
  br/pkg/task/common.go
  br/pkg/task/restore.go
  br/pkg/task/restore_raw.go
Due: br

fix integration test
  br/pkg/checksum/executor.go
Due: br

encode file range keys duraing restore
  br/pkg/checksum/executor.go
  br/pkg/task/restore_raw.go
Due: br

add checksum lock
  br/pkg/task/backup_raw.go
  br/pkg/task/restore_raw.go
Due: br

support retry checksum
  br/pkg/checksum/executor.go
  br/pkg/task/backup_raw.go
  br/pkg/task/restore_raw.go
  br/pkg/utils/backoff.go
Due: br

fix review comments
  br/pkg/task/backup.go
  br/pkg/task/backup_raw.go
  br/pkg/task/common.go
Due: br

disable useless log
  br/pkg/restore/range.go
Due: br

fix checksum issue
  br/pkg/backup/client.go
Due: br

[fix #104]clean br command args (#105)
  br/cmd/br/backup.go
  br/cmd/br/cmd.go
  br/cmd/br/main.go
  br/cmd/br/restore.go
  br/pkg/storage/azblob.go
  br/pkg/storage/gcs.go
  br/pkg/storage/s3.go
  br/pkg/task/backup.go
  br/pkg/task/backup_raw.go
  br/pkg/task/common.go
  br/pkg/task/restore.go
  br/pkg/task/restore_raw.go
Due: br

improve restore progress
  br/pkg/restore/util.go
  br/pkg/task/restore_raw.go
Due: br

do checksum with backupmeta instead of repsonse
  br/pkg/backup/client.go
  br/pkg/backup/push.go
  br/pkg/checksum/executor.go
  br/pkg/task/backup_raw.go
  br/pkg/task/restore_raw.go
  br/pkg/utils/backoff.go
Due: br

diable br integration test in low version
  .github/workflows/ci-br.yml
Due: none

fix br integration test
  br/tests/rawkv/run.py
Due: none

rafact checksum to improve fault-tolerant
  br/pkg/checksum/executor.go
  br/pkg/task/backup_raw.go
  br/pkg/task/common.go
  br/pkg/task/restore_raw.go
  br/pkg/utils/key.go
Due: br

fix ci lint
  br/pkg/checksum/executor.go
  br/pkg/task/common.go
Due: br

fix version check
  br/pkg/version/version.go
Due: br

fix rewrite bug in restore
  br/pkg/task/restore_raw.go
Due: br

fix unit test
  br/pkg/version/version_test.go
Due: br

fix error when restore multi times
  br/pkg/restore/util.go
Due: br

improve restore concurrency
  br/pkg/task/common.go
  br/pkg/task/restore.go
Due: br

improve error msg
  br/pkg/task/rawkv_config.go
Due: br

fix typo
  br/pkg/task/rawkv_config.go
Due: br

encode key when retry
  br/pkg/backup/client.go
Due: br

improve curAPIVer query process
  br/pkg/backup/client.go
  br/pkg/backup/client_test.go
  br/pkg/task/backup_raw.go
Due: br

fix review comments
  br/pkg/checksum/executor.go
  br/pkg/restore/range.go
  br/pkg/task/backup_raw.go
  br/pkg/task/rawkv_config.go
Due: br

use r000 as the raw apiv2 prefix
  br/pkg/task/backup_raw.go
  br/pkg/utils/key.go
  br/pkg/utils/key_test.go
Due: br

fix review comments
  br/pkg/restore/import.go
Due: br

fix review comment
  br/pkg/restore/import.go
  br/pkg/utils/key.go
Due: br

[fix #102]Br checksum (#103)
  .github/workflows/ci-br.yml
  br/Makefile
  br/pkg/backup/client.go
  br/pkg/backup/client_test.go
  br/pkg/backup/push.go
  br/pkg/checksum/executor.go
  br/pkg/checksum/executor_test.go
  br/pkg/checksum/main_test.go
  br/pkg/restore/import.go
  br/pkg/restore/util.go
  br/pkg/task/backup_raw.go
  br/pkg/task/common.go
  br/pkg/task/rawkv_config.go
  br/pkg/task/restore.go
  br/pkg/task/restore_raw.go
  br/pkg/utils/backoff.go
  br/pkg/utils/key.go
  br/pkg/utils/key_test.go
  br/pkg/version/version.go
  br/pkg/version/version_test.go
  br/tests/rawkv/run.py
Due: br

br release action
  .github/workflows/br_release.yml
Due: none

br release action (#113)
  .github/workflows/br_release.yml
Due: none

implement debug checksum cmd
  br/cmd/br/debug.go
  br/pkg/checksum/executor.go
  br/pkg/task/backup_raw.go
  br/pkg/task/common.go
Due: br

add api version check
  br/cmd/br/debug.go
  br/pkg/backup/client.go
  br/pkg/backup/client_test.go
  br/pkg/checksum/executor.go
  br/pkg/restore/client.go
  br/pkg/task/backup_raw.go
  br/pkg/task/common.go
  br/pkg/task/common_test.go
  br/pkg/task/restore_raw.go
Due: br

remove unused codes
  cdc/cdc/model/mounter.go
  cdc/cdc/model/schema_storage.go
  cdc/cdc/model/schema_storage_test.go
  cdc/cdc/model/sink.go
  cdc/cdc/model/sink_gen.go
  cdc/cdc/model/sink_gen_test.go
  cdc/cdc/model/sink_test.go
  cdc/cdc/puller/mock_puller.go
  cdc/cdc/puller/mock_puller_test.go
  cdc/cdc/sink/black_hole.go
  cdc/cdc/sink/codec/avro.go
  cdc/cdc/sink/codec/avro_test.go
  cdc/cdc/sink/codec/canal.go
  cdc/cdc/sink/codec/canal_flat.go
  cdc/cdc/sink/codec/canal_flat_test.go
  cdc/cdc/sink/codec/canal_test.go
  cdc/cdc/sink/codec/codec_test.go
  cdc/cdc/sink/codec/craft.go
  cdc/cdc/sink/codec/craft/buffer.go
  cdc/cdc/sink/codec/craft/codec_test.go
  cdc/cdc/sink/codec/craft/decoder.go
  cdc/cdc/sink/codec/craft/encoder.go
  cdc/cdc/sink/codec/craft/model.go
  cdc/cdc/sink/codec/craft_test.go
  cdc/cdc/sink/codec/interface.go
  cdc/cdc/sink/codec/interface_test.go
  cdc/cdc/sink/codec/java.go
  cdc/cdc/sink/codec/json.go
  cdc/cdc/sink/codec/json_test.go
  cdc/cdc/sink/codec/maxwell.go
  cdc/cdc/sink/codec/maxwell_test.go
  cdc/cdc/sink/codec/schema_registry.go
  cdc/cdc/sink/codec/schema_registry_test.go
  cdc/cdc/sink/sink.go
  cdc/cdc/sink/tikv.go
Due: cdc

fix ut
  cdc/cdc/processor/pipeline/sink.go
  cdc/cdc/processor/pipeline/sink_test.go
Due: cdc

move common functions
  br/cmd/br/debug.go
  br/pkg/backup/client.go
  br/pkg/backup/client_test.go
  br/pkg/conn/conn.go
  br/pkg/conn/conn_test.go
  br/pkg/restore/client.go
  br/pkg/task/backup_raw.go
Due: br

fix static-check
  cdc/cdc/sink/buffer_sink_test.go
  cdc/pkg/pipeline/pipeline_test.go
Due: cdc

[close #108] Br debug checksum cmd (#114)
  br/cmd/br/debug.go
  br/pkg/backup/client.go
  br/pkg/backup/client_test.go
  br/pkg/checksum/executor.go
  br/pkg/conn/conn.go
  br/pkg/conn/conn_test.go
  br/pkg/restore/client.go
  br/pkg/task/backup_raw.go
  br/pkg/task/common.go
  br/pkg/task/common_test.go
  br/pkg/task/restore_raw.go
Due: br

remove dependece of pd/tidb
  br/cmd/br/cmd.go
  br/go.mod
  br/go.sum
  br/pkg/backup/client.go
  br/pkg/conn/conn.go
  br/pkg/glue/glue.go
  br/pkg/gluetikv/glue.go
  br/pkg/kv/main_test.go
  br/pkg/logutil/logging_test.go
  br/pkg/logutil/rate.go
  br/pkg/metautil/main_test.go
  br/pkg/pdutil/main_test.go
  br/pkg/pdutil/pd.go
  br/pkg/pdutil/pd_serial_test.go
  br/pkg/pdutil/utils.go
  br/pkg/restore/client.go
  br/pkg/restore/merge.go
  br/pkg/restore/merge_test.go
  br/pkg/restore/range.go
  br/pkg/restore/range_test.go
  br/pkg/restore/split.go
  br/pkg/restore/split_client.go
  br/pkg/restore/split_test.go
  br/pkg/restore/util.go
  br/pkg/restore/util_test.go
  br/pkg/rtree/main_test.go
  br/pkg/summary/main_test.go
  br/pkg/task/config.go
  br/pkg/task/tls_config.go
  br/pkg/trace/main_test.go
  br/pkg/utils/dyn_pprof_other.go
  br/pkg/utils/dyn_pprof_unix.go
  br/pkg/utils/key.go
  br/pkg/utils/main_test.go
  br/pkg/utils/pprof.go
  br/pkg/utils/retry.go
  br/pkg/utils/retry_test.go
  br/pkg/utils/safe_point.go
  br/pkg/version/build/info.go
Due: br

Path conditions:
  cdc: any of: cdc/cdc, cdc/cmd, cdc/pkg, but not: LICENSES, *_test.go, *.pb.go, .git, *.yaml, *.toml, *.md, docs/.*, testing_utils/.*
  br: any of: br/cmd, br/pkg, but not: LICENSES, *_test.go, *.pb.go, .git, *.yaml, *.toml, *.md, docs/.*, testing_utils/.*
