Repository tikv/migration: changes, and which Codecov flags are due for each by the changed paths.
All: cdc, br

.codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 4
  round: down

  status:
    project:
      default:
        target: 85%
        threshold: 3% #Allow the coverage to drop by threshold%, and posting a success status.
        branches:
          - master

    patch:
      default:
        target: 0%
    changes: no

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes
  branches:
    - "master"

ignore:
  - "LICENSES"
  - "*_test.go"
  - "*.pb.go"
  - ".git"
  - "*.yaml"
  - "*.toml"
  - "*.md"
  - "docs/.*"
  - "testing_utils/.*"

flags:
  cdc:
    carryforward: true
    paths:
      - "cdc/cdc"
      - "cdc/cmd"
      - "cdc/pkg"
  br:
    carryforward: true
    paths:
      - "br/cmd"
      - "br/pkg"

Update licence.yml
  .github/workflows/licence.yml
Due: none

Update licence.yml (#150)
  .github/workflows/licence.yml
Due: none

fix delete stream issue
  cdc/cdc/kv/client.go
Due: cdc

fix buffer sink
  cdc/cdc/sink/buffer_sink.go
Due: cdc

br return backupts
  br/pkg/task/backup.go
  br/pkg/task/backup_raw.go
  br/pkg/task/rawkv_config.go
  br/pkg/utils/safe_point.go
Due: br

fix changed keypanid
  cdc/cdc/model/kv_gen.go
Due: cdc

fix comment
  cdc/cdc/model/kv_gen.go
Due: cdc

delete stream
  cdc/cdc/kv/client.go
Due: cdc

add ut
  cdc/cdc/model/kv_gen.go
  cdc/cdc/model/kv_gen_test.go
  cdc/cdc/sink/black_hole.go
  cdc/cdc/sink/buffer_sink_test.go
  cdc/cdc/sink/statistics.go
  cdc/cdc/sink/tikv.go
Due: cdc

modify comment
  cdc/cdc/model/kv_gen.go
Due: cdc

fix .
  cdc/cdc/sink/buffer_sink_test.go
Due: cdc

add unit test and disable check-reqirements
  br/pkg/backup/client.go
  br/pkg/backup/client_test.go
  br/pkg/conn/conn.go
  br/pkg/task/backup_raw.go
  br/pkg/task/common.go
  br/pkg/task/rawkv_config.go
Due: br

adjust parse place
  br/pkg/task/backup.go
  br/pkg/task/backup_raw.go
  br/pkg/task/rawkv_config.go
Due: br

add ut
  cdc/cdc/sink/buffer_sink_test.go
Due: cdc

fix comment
  cdc/cdc/sink/buffer_sink_test.go
Due: cdc

fix comment
  cdc/cdc/model/kv_gen.go
  cdc/cdc/model/kv_gen_test.go
Due: cdc

fix comment
  cdc/cdc/processor/pipeline/keyspan.go
  cdc/cdc/sorter/unified/unified_sorter.go
Due: cdc

[fix #153] cdc: fix buffer sink (#154)
  cdc/cdc/sink/buffer_sink.go
  cdc/cdc/sink/buffer_sink_test.go
Due: cdc

fix review comments
  br/pkg/backup/client_test.go
  br/pkg/task/backup_raw.go
  br/pkg/utils/safe_point.go
Due: br

[close #153] Add serialization and deserialization operations for RawKV.KeySpanID (#155)
  cdc/cdc/model/kv_gen.go
  cdc/cdc/model/kv_gen_test.go
  cdc/cdc/processor/pipeline/keyspan.go
  cdc/cdc/sink/black_hole.go
  cdc/cdc/sink/buffer_sink_test.go
  cdc/cdc/sink/statistics.go
  cdc/cdc/sink/tikv.go
  cdc/cdc/sorter/unified/unified_sorter.go
Due: cdc

[close #142] fix delete stream issue (#152)
  cdc/cdc/kv/client.go
Due: cdc

change gcttl to duration
  br/pkg/backup/client.go
  br/pkg/backup/client_test.go
  br/pkg/task/backup_raw.go
  br/pkg/task/rawkv_config.go
  br/pkg/utils/safe_point.go
Due: br

[close #138] br return backup ts (#156)
  br/pkg/backup/client.go
  br/pkg/backup/client_test.go
  br/pkg/conn/conn.go
  br/pkg/task/backup.go
  br/pkg/task/backup_raw.go
  br/pkg/task/common.go
  br/pkg/task/rawkv_config.go
  br/pkg/utils/safe_point.go
Due: br

remove cli unused command
  cdc/pkg/cmd/cli/cli.go
  cdc/pkg/cmd/cli/cli_changefeed_create.go
  cdc/pkg/cmd/cli/cli_changefeed_create_test.go
  cdc/pkg/cmd/cli/cli_changefeed_update.go
  cdc/pkg/cmd/cli/cli_test.go
  cdc/pkg/cmd/redo/apply.go
  cdc/pkg/cmd/redo/meta.go
  cdc/pkg/cmd/redo/redo.go
  cdc/pkg/cmd/util/changefeed.toml
  cdc/pkg/cmd/util/helper_test.go
  cdc/pkg/cmd/util/ticdc.toml
  cdc/pkg/config/replica_config.go
Due: cdc

remove cli unused command
  cdc/pkg/cmd/cli/cli_changefeed_create.go
  cdc/pkg/cmd/cli/cli_changefeed_update.go
Due: cdc

fix get processor
  cdc/cdc/owner/owner.go
Due: cdc

fix get processor (#162)
  cdc/cdc/owner/owner.go
Due: cdc

improve readme for CDC usage
  cdc/README.md
Due: none

add changefedd start/end
  cdc/cdc/model/changefeed.go
  cdc/cdc/owner/scheduler_v1.go
  cdc/pkg/cmd/cli/cli_changefeed_create.go
  cdc/pkg/regionspan/span.go
  cdc/pkg/util/key.go
  cdc/pkg/util/key_test.go
Due: cdc

fix sheduler test
  cdc/cdc/owner/scheduler_v1_test.go
Due: cdc

remove useless codes
  cdc/Makefile
  cdc/cdc/capture/http_validator.go
  cdc/cdc/model/changefeed.go
  cdc/cdc/model/changefeed_test.go
  cdc/cdc/owner/changefeed_test.go
  cdc/cdc/owner/feed_state_manager_test.go
  cdc/cdc/owner/owner_test.go
  cdc/cdc/processor/pipeline/sorter_test.go
  cdc/cdc/processor/processor.go
  cdc/cdc/processor/processor_test.go
  cdc/go.mod
  cdc/go.sum
  cdc/metrics/grafana/tikv-cdc.json
  cdc/pkg/cmd/cli/cli_changefeed_create.go
  cdc/pkg/cmd/cli/cli_changefeed_update.go
  cdc/pkg/cmd/util/changefeed.toml
  cdc/pkg/cmd/util/helper_test.go
  cdc/pkg/config/config_test_data.go
  cdc/pkg/config/filter.go
  cdc/pkg/config/mounter.go
  cdc/pkg/config/replica_config.go
  cdc/pkg/config/replica_config_test.go
  cdc/pkg/context/context_test.go
  cdc/pkg/filter/filter.go
  cdc/pkg/filter/filter_test.go
  cdc/pkg/filter/main_test.go
  cdc/pkg/orchestrator/reactor_state_test.go
  cdc/tests/integration_tests/force_replicate_table/conf/changefeed.toml
Due: cdc

add start/end in changefeed update
  cdc/pkg/cmd/cli/cli_changefeed_create.go
  cdc/pkg/cmd/cli/cli_changefeed_update.go
  cdc/pkg/util/key.go
Due: cdc

fix CI error
  cdc/cdc/kv/client_test.go
  cdc/cdc/model/changefeed_test.go
  cdc/pkg/cmd/cli/cli_changefeed_create_test.go
  cdc/pkg/cmd/util/changefeed.toml
  cdc/pkg/config/replica_config.go
Due: cdc

fix CI
  cdc/Makefile
Due: none

[close #168] Remove useless fields in changefeed (#169)
  cdc/Makefile
  cdc/cdc/capture/http_validator.go
  cdc/cdc/kv/client_test.go
  cdc/cdc/model/changefeed.go
  cdc/cdc/model/changefeed_test.go
  cdc/cdc/owner/changefeed_test.go
  cdc/cdc/owner/feed_state_manager_test.go
  cdc/cdc/owner/owner_test.go
  cdc/cdc/processor/pipeline/sorter_test.go
  cdc/cdc/processor/processor.go
  cdc/cdc/processor/processor_test.go
  cdc/go.mod
  cdc/go.sum
  cdc/metrics/grafana/tikv-cdc.json
  cdc/pkg/cmd/cli/cli_changefeed_create.go
  cdc/pkg/cmd/cli/cli_changefeed_create_test.go
  cdc/pkg/cmd/cli/cli_changefeed_update.go
  cdc/pkg/cmd/util/changefeed.toml
  cdc/pkg/cmd/util/helper_test.go
  cdc/pkg/config/config_test_data.go
  cdc/pkg/config/filter.go
  cdc/pkg/config/mounter.go
  cdc/pkg/config/replica_config.go
  cdc/pkg/config/replica_config_test.go
  cdc/pkg/context/context_test.go
  cdc/pkg/filter/filter.go
  cdc/pkg/filter/filter_test.go
  cdc/pkg/filter/main_test.go
  cdc/pkg/orchestrator/reactor_state_test.go
  cdc/tests/integration_tests/force_replicate_table/conf/changefeed.toml
Due: cdc

address comment
  cdc/README.md
Due: none

[close #165] add manual of CDC deployment & maintenance (#166)
  cdc/README.md
Due: none

fix comment
  cdc/pkg/cmd/cli/cli_changefeed_create.go
  cdc/pkg/cmd/cli/cli_changefeed_update.go
  cdc/pkg/cmd/cli/cli_test.go
Due: cdc

fix comment
  cdc/pkg/cmd/cli/cli_changefeed_create.go
Due: cdc
