Repository tikv/migration: changes, and which Codecov flags are due for each by the changed paths.
All: cdc, br

.codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 4
  round: down

  status:
    project:
      default:
        target: 85%
        threshold: 3% #Allow the coverage to drop by threshold%, and posting a success status.
        branches:
          - master

    patch:
      default:
        target: 0%
    changes: no

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes
  branches:
    - "master"

ignore:
  - "LICENSES"
  - "*_test.go"
  - "*.pb.go"
  - ".git"
  - "*.yaml"
  - "*.toml"
  - "*.md"
  - "docs/.*"
  - "testing_utils/.*"

flags:
  cdc:
    carryforward: true
    paths:
      - "cdc/cdc"
      - "cdc/cmd"
      - "cdc/pkg"
  br:
    carryforward: true
    paths:
      - "br/cmd"
      - "br/pkg"

update kvproto and related dependence
  cdc/cdc/capture/capture.go
  cdc/cdc/http_handler.go
  cdc/cdc/http_status.go
  cdc/cdc/http_status_test.go
  cdc/cdc/kv/client.go
  cdc/cdc/kv/client_test.go
  cdc/cdc/model/kv.go
  cdc/cdc/processor/agent.go
  cdc/cdc/processor/agent_test.go
  cdc/cdc/server.go
  cdc/cdc/server_test.go
  cdc/cdc/sink/tikv.go
  cdc/go.mod
  cdc/go.sum
  cdc/pkg/cmd/cli/cli_capture_list.go
  cdc/pkg/cmd/factory/factory_impl.go
  cdc/pkg/etcd/client.go
  cdc/pkg/etcd/client_test.go
  cdc/pkg/etcd/etcd.go
  cdc/pkg/etcd/etcd_test.go
  cdc/pkg/etcd/util.go
  cdc/pkg/etcd/util_test.go
  cdc/pkg/orchestrator/etcd_worker.go
  cdc/pkg/orchestrator/etcd_worker_test.go
  cdc/tests/utils/cdc_state_checker/cdc_monitor.go
Due: cdc

fix unit test
  br/pkg/restore/merge_test.go
  br/pkg/restore/range_test.go
Due: br

update ci-cdc.yml, modify go version to 18.3
  .github/workflows/ci-cdc.yml
Due: none

remove unused codes
  cdc/pkg/errorutil/ignore.go
  cdc/pkg/errorutil/ignore_test.go
Due: cdc

[to 48] Remove codes (#115)
  cdc/cdc/model/mounter.go
  cdc/cdc/model/schema_storage.go
  cdc/cdc/model/schema_storage_test.go
  cdc/cdc/model/sink.go
  cdc/cdc/model/sink_gen.go
  cdc/cdc/model/sink_gen_test.go
  cdc/cdc/model/sink_test.go
  cdc/cdc/processor/pipeline/sink.go
  cdc/cdc/processor/pipeline/sink_test.go
  cdc/cdc/puller/mock_puller.go
  cdc/cdc/puller/mock_puller_test.go
  cdc/cdc/sink/black_hole.go
  cdc/cdc/sink/buffer_sink_test.go
  cdc/cdc/sink/codec/avro.go
  cdc/cdc/sink/codec/avro_test.go
  cdc/cdc/sink/codec/canal.go
  cdc/cdc/sink/codec/canal_flat.go
  cdc/cdc/sink/codec/canal_flat_test.go
  cdc/cdc/sink/codec/canal_test.go
  cdc/cdc/sink/codec/codec_test.go
  cdc/cdc/sink/codec/craft.go
  cdc/cdc/sink/codec/craft/buffer.go
  cdc/cdc/sink/codec/craft/codec_test.go
  cdc/cdc/sink/codec/craft/decoder.go
  cdc/cdc/sink/codec/craft/encoder.go
  cdc/cdc/sink/codec/craft/model.go
  cdc/cdc/sink/codec/craft_test.go
  cdc/cdc/sink/codec/interface.go
  cdc/cdc/sink/codec/interface_test.go
  cdc/cdc/sink/codec/java.go
  cdc/cdc/sink/codec/json.go
  cdc/cdc/sink/codec/json_test.go
  cdc/cdc/sink/codec/maxwell.go
  cdc/cdc/sink/codec/maxwell_test.go
  cdc/cdc/sink/codec/schema_registry.go
  cdc/cdc/sink/codec/schema_registry_test.go
  cdc/cdc/sink/sink.go
  cdc/cdc/sink/tikv.go
  cdc/pkg/pipeline/pipeline_test.go
Due: cdc

close lock resolver
  br/pkg/conn/conn.go
Due: br

fix ut
  cdc/cdc/http_status_test.go
  cdc/cdc/server_test.go
  cdc/cdc/tmp
  cdc/go.mod
  cdc/go.sum
Due: cdc

fix leak
  cdc/cdc/tmp
  cdc/pkg/leakutil/leak_helper.go
  cdc/pkg/util/testleak/leaktest.go
Due: cdc

fix review comments
  br/cmd/br/cmd.go
Due: br

[close #117] Br dependence cleanup (#118)
  br/cmd/br/cmd.go
  br/go.mod
  br/go.sum
  br/pkg/backup/client.go
  br/pkg/conn/conn.go
  br/pkg/glue/glue.go
  br/pkg/gluetikv/glue.go
  br/pkg/kv/main_test.go
  br/pkg/logutil/logging_test.go
  br/pkg/logutil/rate.go
  br/pkg/metautil/main_test.go
  br/pkg/pdutil/main_test.go
  br/pkg/pdutil/pd.go
  br/pkg/pdutil/pd_serial_test.go
  br/pkg/pdutil/utils.go
  br/pkg/restore/client.go
  br/pkg/restore/merge.go
  br/pkg/restore/merge_test.go
  br/pkg/restore/range.go
  br/pkg/restore/range_test.go
  br/pkg/restore/split.go
  br/pkg/restore/split_client.go
  br/pkg/restore/split_test.go
  br/pkg/restore/util.go
  br/pkg/restore/util_test.go
  br/pkg/rtree/main_test.go
  br/pkg/summary/main_test.go
  br/pkg/task/config.go
  br/pkg/task/tls_config.go
  br/pkg/trace/main_test.go
  br/pkg/utils/dyn_pprof_other.go
  br/pkg/utils/dyn_pprof_unix.go
  br/pkg/utils/key.go
  br/pkg/utils/main_test.go
  br/pkg/utils/pprof.go
  br/pkg/utils/retry.go
  br/pkg/utils/retry_test.go
  br/pkg/utils/safe_point.go
  br/pkg/version/build/info.go
Due: br

upgrade to go1.18
  .github/workflows/br_release.yml
  .github/workflows/ci-br.yml
  br/Makefile
  br/README.md
  br/cmd/br/debug.go
  br/go.mod
  br/go.sum
  br/pkg/restore/import.go
  br/pkg/task/backup_raw.go
  br/pkg/task/restore_raw.go
  br/tools/check/go.mod
Due: br

fix owner ut
  cdc/cdc/owner/changefeed.go
  cdc/cdc/owner/changefeed_test.go
  cdc/cdc/owner/scheduler.go
  cdc/cdc/owner/scheduler_test.go
  cdc/cdc/owner/scheduler_v1.go
  cdc/cdc/owner/scheduler_v1_test.go
Due: cdc

fix goleak
  cdc/pkg/leakutil/leak_helper.go
Due: cdc

fix ut
  cdc/cdc/kv/client_test.go
  cdc/cdc/kv/grpc_pool_impl_test.go
  cdc/cdc/server_test.go
  cdc/go.mod
  cdc/go.sum
Due: cdc

remove defer TearDownTest
  cdc/pkg/etcd/client_test.go
  cdc/pkg/etcd/etcd_test.go
Due: cdc

fix etcd ut
  cdc/go.mod
  cdc/go.sum
  cdc/pkg/etcd/client.go
  cdc/pkg/etcd/client_test.go
  cdc/pkg/etcd/etcd_test.go
Due: cdc

upgrade to go1.18 (#120)
  .github/workflows/br_release.yml
  .github/workflows/ci-br.yml
  br/Makefile
  br/README.md
  br/cmd/br/debug.go
  br/go.mod
  br/go.sum
  br/pkg/restore/import.go
  br/pkg/task/backup_raw.go
  br/pkg/task/restore_raw.go
  br/tools/check/go.mod
Due: br

remove Println
  cdc/cdc/owner/scheduler.go
  cdc/cdc/owner/scheduler_v1_test.go
Due: cdc

fix owner ut (#122)
  cdc/cdc/owner/changefeed.go
  cdc/cdc/owner/changefeed_test.go
  cdc/cdc/owner/scheduler.go
  cdc/cdc/owner/scheduler_test.go
  cdc/cdc/owner/scheduler_v1.go
  cdc/cdc/owner/scheduler_v1_test.go
Due: cdc

add br readme
  br/README.md
Due: none

raw mode
  br/README.md
  br/docs/images/arch.svg
  br/docs/images/tikv-br architecture.png
Due: none

upgrade to go1.18
  gc-worker/Makefile
  gc-worker/README.md
  gc-worker/go.mod
  gc-worker/go.sum
  gc-worker/server/config.go
  gc-worker/server/server.go
  gc-worker/server/server_test.go
Due: none

use new gc update interface
  gc-worker/cmd/main.go
  gc-worker/go.mod
  gc-worker/go.sum
  gc-worker/server/config.go
  gc-worker/server/config_test.go
  gc-worker/server/server.go
  gc-worker/server/server_test.go
Due: none

use go1.18 in gc-worker build action
  .github/workflows/ci-gc-worker.yml
Due: none

fix ut
  cdc/cdc/owner/scheduler_v1_test.go
Due: cdc

fix review comments
  br/README-cn.md
  br/README.md
  br/docs/images/tikv-br-architecture.png
Due: none

remove spaceline
  cdc/cdc/owner/changefeed.go
  cdc/cdc/owner/changefeed_test.go
  cdc/cdc/owner/scheduler_test.go
Due: cdc

address review comments
  br/README-cn.md
Due: none

int64 -> uint64
  cdc/cdc/model/owner.go
  cdc/cdc/model/owner_test.go
  cdc/cdc/owner/scheduler_v1.go
  cdc/cdc/owner/scheduler_v1_test.go
  cdc/pkg/scheduler/workload.go
  cdc/pkg/scheduler/workload_test.go
Due: cdc

.
  cdc/cdc/owner/scheduler_v1_test.go
Due: cdc

.
  cdc/pkg/scheduler/workload.go
Due: cdc

[close #123] Update tikv-br readme doc (#124)
  br/README-cn.md
  br/docs/images/arch.svg
  br/docs/images/tikv-br-architecture.png
Due: none

[to #48] try to fix scheduler problem (#90)
  cdc/cdc/model/owner.go
  cdc/cdc/model/owner_test.go
  cdc/cdc/owner/scheduler_v1.go
  cdc/cdc/owner/scheduler_v1_test.go
  cdc/cdc/processor/processor.go
  cdc/cdc/processor/processor_test.go
Due: cdc

fix pkg/etcd ut race
  cdc/go.mod
  cdc/go.sum
  cdc/pkg/p2p/server.go
Due: cdc

fix clock race
  cdc/go.mod
  cdc/go.sum
Due: none

fix CI error
  cdc/pkg/p2p/mock_grpc_client.go
  cdc/tests/integration_tests/dailytest/db.go
  cdc/tests/integration_tests/dailytest/job.go
  cdc/tools/check/go.sum
Due: cdc

unify tools installation
  cdc/Makefile
  cdc/tools/check/go.mod
  cdc/tools/check/go.sum
Due: none

migration release
  .github/workflows/release_version.yml
  br/Makefile
Due: none
