Repository tikv/migration: changes, and which Codecov flags are due for each by the changed paths.
All: cdc, br

.codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 4
  round: down

  status:
    project:
      default:
        target: 85%
        threshold: 3% #Allow the coverage to drop by threshold%, and posting a success status.
        branches:
          - master

    patch:
      default:
        target: 0%
    changes: no

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes
  branches:
    - "master"

ignore:
  - "LICENSES"
  - "*_test.go"
  - "*.pb.go"
  - ".git"
  - "*.yaml"
  - "*.toml"
  - "*.md"
  - "docs/.*"
  - "testing_utils/.*"

flags:
  cdc:
    carryforward: true
    paths:
      - "cdc/cdc"
      - "cdc/cmd"
      - "cdc/pkg"
  br:
    carryforward: true
    paths:
      - "br/cmd"
      - "br/pkg"

one .codecov.yml and one .golangci.yaml (#53)
  .codecov.yml
  .golangci.yml
  br/.codecov.yml
  br/.golangci.yml
Due: none

cdc: test ci
  cdc/Makefile
Due: none

modified cdc Makefile and br Makefile
  cdc/Makefile
Due: none

modified cdc Makefile and br Makefile
  Makefile
  br/.gitignore
  br/.golangci.yml
  br/Makefile
  br/go.mod
  br/go.sum
  cdc/Makefile
Due: none

modified cdc Makefile and br Makefile
  br/.golangci.yml
  br/Makefile
  cdc/Makefile
  cdc/tools/check/check-errdoc.sh
Due: none

modified cdc Makefile and br Makefile (#55)
  Makefile
  br/.gitignore
  br/Makefile
  br/go.mod
  br/go.sum
  cdc/Makefile
  cdc/tools/check/check-errdoc.sh
Due: none

fix license audit
  .github/config/license.yml
  cdc/deployments/ticdc/docker/.dockerignore
Due: none

fix cdc ut
  cdc/pkg/tcpserver/tcp_server_test.go
Due: cdc

fix cdc ut (#59)
  cdc/pkg/tcpserver/tcp_server_test.go
Due: cdc

ignore cdc & br
  .github/config/license.yml
Due: none

ignore config files
  .github/config/license.yml
Due: none

fix codecov
  cdc/Makefile
Due: none

fix codecov (#60)
  cdc/Makefile
Due: none

fix makefile
  br/Makefile
Due: none

fix coverage path
  br/Makefile
Due: none

fix ci unit test
  br/Makefile
  br/tools/check/go.mod
  br/tools/check/go.sum
Due: none

[close #47]Fix license audit (#56)
  .github/config/license.yml
  cdc/deployments/ticdc/docker/.dockerignore
Due: none

replace the deprecated health API
  cdc/tests/integration_tests/_utils/start_tidb_cluster_impl
  cdc/tests/integration_tests/_utils/start_tls_tidb_cluster_impl
Due: none

[to #40] add some github workflows
  .github/labeler.yml
  .github/workflows/pr-labeler.yml
  .github/workflows/pr-title-checker.yml
  .github/workflows/stale-checker.yml
Due: none

rename pr-labeler.yml to labeler.yml
  .github/workflows/labeler.yml
Due: none

[to #40] add some github workflows (#64)
  .github/labeler.yml
  .github/workflows/labeler.yml
  .github/workflows/pr-title-checker.yml
  .github/workflows/stale-checker.yml
Due: none

modify cdc owner & scheduler
  cdc/cdc/owner/changefeed.go
Due: cdc

remove codes
  cdc/cdc/owner/changefeed.go
  cdc/cdc/owner/changefeed_test.go
  cdc/cdc/owner/feed_state_manager_test.go
  cdc/cdc/owner/metrics.go
  cdc/cdc/owner/owner.go
  cdc/cdc/owner/owner_test.go
Due: cdc

modify cdc owner & scheduler
  cdc/cdc/owner/barrier.go
  cdc/cdc/owner/barrier_test.go
  cdc/cdc/owner/changefeed.go
  cdc/cdc/owner/changefeed_test.go
  cdc/cdc/owner/ddl_puller.go
  cdc/cdc/owner/ddl_puller_test.go
  cdc/cdc/owner/ddl_sink.go
  cdc/cdc/owner/ddl_sink_test.go
  cdc/cdc/owner/metrics.go
  cdc/cdc/owner/owner.go
  cdc/cdc/owner/owner_test.go
  cdc/cdc/owner/scheduler.go
  cdc/cdc/owner/scheduler_test.go
  cdc/cdc/owner/scheduler_v1.go
  cdc/cdc/owner/scheduler_v1_test.go
  cdc/cdc/owner/schema.go
  cdc/cdc/owner/schema_test.go
  cdc/cdc/scheduler/agent.go
  cdc/cdc/scheduler/agent_mock.go
  cdc/cdc/scheduler/agent_test.go
  cdc/cdc/scheduler/balancer.go
  cdc/cdc/scheduler/balancer_test.go
  cdc/cdc/scheduler/info_provider.go
  cdc/cdc/scheduler/info_provider_test.go
  cdc/cdc/scheduler/move_keyspan_manager.go
  cdc/cdc/scheduler/move_keyspan_manager_test.go
  cdc/cdc/scheduler/move_table_manager.go
  cdc/cdc/scheduler/move_table_manager_test.go
  cdc/cdc/scheduler/schedule_dispatcher.go
  cdc/cdc/scheduler/schedule_dispatcher_test.go
  cdc/cdc/scheduler/util/keyspan_set.go
  cdc/cdc/scheduler/util/keyspan_set_test.go
  cdc/cdc/scheduler/util/sort_keyspan_ids.go
  cdc/cdc/scheduler/util/table_set.go
  cdc/cdc/scheduler/util/table_set_test.go
Due: cdc

Replace the deprecated health API (#62)
  cdc/tests/integration_tests/_utils/start_tidb_cluster_impl
  cdc/tests/integration_tests/_utils/start_tls_tidb_cluster_impl
Due: none

[to #67] fix gosec failure for BR
  br/pkg/mock/mock_cluster.go
  br/pkg/utils/pprof.go
Due: br

[to #67] fix gosec failure for BR (#68)
  br/pkg/mock/mock_cluster.go
  br/pkg/utils/pprof.go
Due: br

[to #67] remove unused function and dead code
  br/cmd/br/backup.go
  br/cmd/br/cmd.go
  br/cmd/br/restore.go
  br/pkg/backup/client.go
  br/pkg/backup/client_test.go
  br/pkg/backup/schema.go
  br/pkg/backup/schema_test.go
  br/pkg/checksum/executor_test.go
  br/pkg/restore/client.go
  br/pkg/restore/client_test.go
  br/pkg/restore/db_test.go
  br/pkg/task/backup.go
  br/pkg/task/common_test.go
  br/pkg/task/restore.go
Due: br

add workflow for BR related pull requests
  .github/workflows/ci-br.yml
Due: none

remove unused scripts and source files
  br/tools/check/check-errdoc.sh
  br/tools/check/check-gogenerate.sh
  br/tools/check/check-tidy.sh
  br/tools/check/check-timeout.go
  br/tools/check/check_testSuite.sh
  br/tools/check/revive.toml
  br/tools/check/ut.go
Due: none

add ut to workflow
  .github/workflows/ci-br.yml
Due: none

fix golangci-lint
  br/pkg/task/restore.go
Due: br
