Repository tikv/migration: changes, and which Codecov flags are due for each by the changed paths.
All: cdc, br

fix ut
  cdc/cdc/model/owner_test.go
  cdc/cdc/processor/processor_test.go
Due: cdc

remove commented codes
  cdc/cdc/server.go
Due: cdc

fix v1->v1 issue
  br/pkg/backup/client.go
  br/pkg/restore/split.go
Due: br

WIP: block client-v2
  cdc/cdc/kv/client.go
  cdc/cdc/model/kv.go
  cdc/cdc/sink/sink.go
  cdc/cdc/sink/tikv.go
  cdc/go.mod
  cdc/go.sum
Due: cdc

add unit test for format func
  br/pkg/utils/key.go
  br/pkg/utils/key_test.go
Due: br

[to #67] BR backup&restore for apiv2 (#91)
  br/go.mod
  br/go.sum
  br/pkg/backup/client.go
  br/pkg/backup/client_test.go
  br/pkg/backup/push.go
  br/pkg/restore/client.go
  br/pkg/restore/import.go
  br/pkg/restore/split.go
  br/pkg/restore/split_test.go
  br/pkg/restore/util.go
  br/pkg/task/backup_raw.go
  br/pkg/task/rawkv_config.go
  br/pkg/task/restore_raw.go
  br/pkg/task/restore_raw_config.go
  br/pkg/utils/key.go
  br/pkg/utils/key_test.go
  br/tests/rawkv/run.py
Due: br

change module name and add golangci check
  gc-worker/Makefile
  gc-worker/cmd/main.go
  gc-worker/go.mod
  gc-worker/server/config/config.go
  gc-worker/server/server.go
Due: none

add unit test
  .gitignore
  gc-worker/Makefile
  gc-worker/cmd/main.go
  gc-worker/go.mod
  gc-worker/go.sum
  gc-worker/server/config.go
  gc-worker/server/config_test.go
  gc-worker/server/server.go
  gc-worker/server/server_test.go
Due: none

add readme
  gc-worker/README.md
  gc-worker/go.mod
  gc-worker/server/config_test.go
  gc-worker/server/server.go
  gc-worker/server/server_test.go
Due: none

add config file and unit test
  gc-worker/cmd/main.go
  gc-worker/go.mod
  gc-worker/go.sum
  gc-worker/server/config.go
  gc-worker/server/gc-woker.toml
  gc-worker/server/server.go
  gc-worker/server/server_test.go
Due: none

resolve review comments
  .github/config/license.yml
  .github/workflows/ci-gc-worker.yml
  gc-worker/Makefile
  gc-worker/conf/gc-woker.toml
  gc-worker/server/server.go
Due: none

resolve review comments
  gc-worker/server/server.go
Due: none

resolve review comments
  gc-worker/conf/gc-worker.toml
Due: none

remove etcd endpoint from input
  gc-worker/README.md
Due: none

fix configure file discription
  gc-worker/conf/gc-worker.toml
Due: none

address review comments
  gc-worker/Makefile
  gc-worker/conf/gc-worker.toml
  gc-worker/server/config.go
  gc-worker/server/server.go
Due: none

fix golang lint check
  gc-worker/server/config.go
  gc-worker/server/server.go
  gc-worker/server/server_test.go
Due: none

[to #67] init gc worker process for tikv (#85)
  .github/config/license.yml
  .github/workflows/ci-gc-worker.yml
  .gitignore
  gc-worker/Makefile
  gc-worker/README.md
  gc-worker/cmd/main.go
  gc-worker/conf/gc-worker.toml
  gc-worker/go.mod
  gc-worker/go.sum
  gc-worker/server/config.go
  gc-worker/server/config_test.go
  gc-worker/server/server.go
  gc-worker/server/server_test.go
Due: none

add gosec and golang-lint check
  .github/workflows/ci-gc-worker.yml
  gc-worker/Makefile
  gc-worker/cmd/main.go
  gc-worker/server/server.go
Due: none

add gosec and golang-lint check (#95)
  .github/workflows/ci-gc-worker.yml
  gc-worker/Makefile
  gc-worker/cmd/main.go
  gc-worker/server/server.go
Due: none

fix ut for owner
  cdc/cdc/model/owner.go
  cdc/cdc/owner/changefeed.go
  cdc/cdc/owner/changefeed_test.go
  cdc/cdc/owner/scheduler.go
  cdc/cdc/owner/scheduler_test.go
  cdc/cdc/owner/scheduler_v1.go
  cdc/cdc/owner/scheduler_v1_test.go
Due: cdc

add unit test for safepoint update
  gc-worker/go.mod
  gc-worker/go.sum
  gc-worker/server/server.go
  gc-worker/server/server_test.go
Due: none

add ut for processor
  cdc/cdc/processor/processor_test.go
Due: cdc

reduce redundant code
  gc-worker/server/server_test.go
Due: none

fix ut
  cdc/cdc/model/owner_test.go
  cdc/cdc/owner/changefeed_test.go
  cdc/pkg/scheduler/workload.go
  cdc/pkg/scheduler/workload_test.go
Due: cdc

change code comments
  gc-worker/server/server_test.go
Due: none

add release build mode
  gc-worker/Makefile
Due: none

fix br restore summary issue
  br/pkg/restore/client.go
Due: br

fix br restore summary issue (#99)
  br/pkg/restore/client.go
Due: br

raw backup checksum
  br/pkg/backup/client.go
  br/pkg/backup/push.go
  br/pkg/checksum/executor.go
  br/pkg/checksum/executor_test.go
  br/pkg/checksum/main_test.go
  br/pkg/conn/conn.go
  br/pkg/task/backup_raw.go
Due: br

use current pd safepoint update interface
  gc-worker/go.mod
  gc-worker/go.sum
  gc-worker/server/server.go
Due: none

add unit test for safepoint update
  gc-worker/go.mod
  gc-worker/server/server.go
  gc-worker/server/server_test.go
Due: none

fix golangci-lint check
  gc-worker/server/server.go
Due: none

restore checksum
  br/pkg/checksum/executor.go
  br/pkg/task/backup_raw.go
  br/pkg/task/restore_raw.go
Due: br

add checksum issues
  br/Makefile
  br/pkg/checksum/executor.go
  br/pkg/checksum/executor_test.go
  br/pkg/task/backup_raw.go
  br/pkg/task/restore_raw.go
  br/pkg/utils/key.go
Due: br

fix download issue
  br/pkg/backup/client.go
  br/pkg/backup/push.go
  br/pkg/restore/import.go
  br/pkg/restore/util.go
Due: br

clean dirty change
  br/pkg/backup/client.go
  br/pkg/backup/push.go
  br/pkg/conn/conn.go
  br/pkg/restore/import.go
  br/pkg/restore/util.go
Due: br

fix review comments
  gc-worker/server/server_test.go
Due: none

fix golangci-lint
  br/pkg/checksum/executor.go
  br/pkg/checksum/executor_test.go
  br/pkg/task/backup_raw.go
  br/pkg/task/restore_raw.go
Due: br

Path conditions:
  cdc: any of: cdc/cdc, cdc/cmd, cdc/pkg, but not: LICENSES, *_test.go, *.pb.go, .git, *.yaml, *.toml, *.md, docs/.*, testing_utils/.*
  br: any of: br/cmd, br/pkg, but not: LICENSES, *_test.go, *.pb.go, .git, *.yaml, *.toml, *.md, docs/.*, testing_utils/.*
