Repository tikv/migration: changes, and which Codecov flags are due for each by the changed paths.
All: cdc, br

.codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 4
  round: down

  status:
    project:
      default:
        target: 85%
        threshold: 3% #Allow the coverage to drop by threshold%, and posting a success status.
        branches:
          - master

    patch:
      default:
        target: 0%
    changes: no

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes
  branches:
    - "master"

ignore:
  - "LICENSES"
  - "*_test.go"
  - "*.pb.go"
  - ".git"
  - "*.yaml"
  - "*.toml"
  - "*.md"
  - "docs/.*"
  - "testing_utils/.*"

flags:
  cdc:
    carryforward: true
    paths:
      - "cdc/cdc"
      - "cdc/cmd"
      - "cdc/pkg"
  br:
    carryforward: true
    paths:
      - "br/cmd"
      - "br/pkg"

add more unit tests
  cdc/cdc/owner/scheduler_v1_test.go
  cdc/pkg/cmd/cli/cli_changefeed_create.go
  cdc/pkg/cmd/cli/cli_changefeed_create_test.go
  cdc/pkg/cmd/cli/cli_changefeed_update_test.go
  cdc/pkg/util/key.go
Due: cdc

add comments
  cdc/cdc/model/changefeed.go
  cdc/pkg/util/key_test.go
Due: cdc

fix processor query
  cdc/cdc/capture/http_handler.go
  cdc/cdc/model/http_model.go
  cdc/pkg/cmd/cli/cli_processor_query.go
Due: cdc

define cmd flags as const
  cdc/pkg/cmd/cli/cli_changefeed_create.go
  cdc/pkg/cmd/cli/cli_changefeed_update.go
Due: cdc

fix processor query
  cdc/cdc/capture/http_handler.go
  cdc/cdc/model/http_model.go
Due: cdc

fix processor query
  cdc/cdc/model/owner.go
Due: cdc

change service id
  cdc/pkg/txnutil/gc/gc_manager.go
Due: cdc

fix comment
  cdc/pkg/cmd/cli/cli_changefeed_create.go
Due: cdc

fix comment
  cdc/pkg/cmd/cli/cli_changefeed_resume.go
Due: cdc

[fix #158] Add changefeed start/end (#167)
  cdc/cdc/model/changefeed.go
  cdc/cdc/owner/scheduler_v1.go
  cdc/cdc/owner/scheduler_v1_test.go
  cdc/pkg/cmd/cli/cli_changefeed_create.go
  cdc/pkg/cmd/cli/cli_changefeed_create_test.go
  cdc/pkg/cmd/cli/cli_changefeed_update.go
  cdc/pkg/cmd/cli/cli_changefeed_update_test.go
  cdc/pkg/regionspan/span.go
  cdc/pkg/util/key.go
  cdc/pkg/util/key_test.go
Due: cdc

fix ut
  cdc/cdc/model/owner_test.go
Due: cdc

change service sefe point id from ticdc to tikvcdc
  cdc/cdc/owner/owner.go
  cdc/pkg/txnutil/gc/gc_manager.go
  cdc/pkg/txnutil/gc/gc_service.go
Due: cdc

add raw outlier region metrics
  cdc/metrics/grafana/tikv-cdc.json
Due: none

[close #164] Fix processor query (#171)
  cdc/cdc/capture/http_handler.go
  cdc/cdc/model/http_model.go
  cdc/cdc/model/owner.go
  cdc/cdc/model/owner_test.go
  cdc/pkg/cmd/cli/cli_processor_query.go
Due: cdc

[close #159] remove cli unused command options (#160)
  cdc/pkg/cmd/cli/cli.go
  cdc/pkg/cmd/cli/cli_changefeed_create.go
  cdc/pkg/cmd/cli/cli_changefeed_resume.go
  cdc/pkg/cmd/redo/apply.go
  cdc/pkg/cmd/redo/meta.go
  cdc/pkg/cmd/redo/redo.go
  cdc/pkg/cmd/util/ticdc.toml
Due: cdc

fix unstable client_test
  cdc/cdc/kv/client_test.go
Due: cdc

fix ut
  cdc/pkg/txnutil/gc/gc_service_test.go
Due: cdc

fix unstable client_test (#178)
  cdc/cdc/kv/client_test.go
Due: cdc

add raw outlier region metrics (#176)
  cdc/metrics/grafana/tikv-cdc.json
Due: none

[close #172] New TiKV-CDC service safe point id (#173)
  cdc/cdc/owner/owner.go
  cdc/pkg/txnutil/gc/gc_manager.go
  cdc/pkg/txnutil/gc/gc_service.go
  cdc/pkg/txnutil/gc/gc_service_test.go
Due: cdc

change default port to 8600
  .github/workflows/ci-cdc.yml
  cdc/README.md
  cdc/cdc/model/capture_test.go
  cdc/cdc/owner/changefeed_test.go
  cdc/cdc/owner/feed_state_manager_test.go
  cdc/cdc/owner/owner_test.go
  cdc/cdc/owner/scheduler_v1_test.go
  cdc/cdc/processor/processor_test.go
  cdc/pkg/api/internal/rest/config.go
  cdc/pkg/cmd/cli/cli_changefeed_create.go
  cdc/pkg/cmd/cli/cli_changefeed_create_test.go
  cdc/pkg/cmd/server/server_test.go
  cdc/pkg/cmd/util/helper_test.go
  cdc/pkg/cmd/util/tikv-cdc.toml
  cdc/pkg/config/server_config.go
  cdc/pkg/orchestrator/reactor_state_test.go
  cdc/pkg/util/key.go
  cdc/pkg/util/key_test.go
  cdc/scripts/add-leaktest.sh
Due: cdc

change default port to 8600 (#181)
  .github/workflows/ci-cdc.yml
  cdc/README.md
  cdc/cdc/model/capture_test.go
  cdc/cdc/owner/changefeed_test.go
  cdc/cdc/owner/feed_state_manager_test.go
  cdc/cdc/owner/owner_test.go
  cdc/cdc/owner/scheduler_v1_test.go
  cdc/cdc/processor/processor_test.go
  cdc/pkg/api/internal/rest/config.go
  cdc/pkg/cmd/cli/cli_changefeed_create.go
  cdc/pkg/cmd/cli/cli_changefeed_create_test.go
  cdc/pkg/cmd/server/server_test.go
  cdc/pkg/cmd/util/helper_test.go
  cdc/pkg/cmd/util/tikv-cdc.toml
  cdc/pkg/config/server_config.go
  cdc/pkg/orchestrator/reactor_state_test.go
  cdc/pkg/util/key.go
  cdc/pkg/util/key_test.go
  cdc/scripts/add-leaktest.sh
Due: cdc

update fix memory sort
  cdc/cdc/sorter/memory/entry_sorter.go
Due: cdc

use checksum in client-go
  br/cmd/br/debug.go
  br/go.mod
  br/go.sum
  br/pkg/checksum/executor.go
  br/pkg/checksum/executor_test.go
  br/pkg/task/backup_raw.go
  br/pkg/task/restore_raw.go
Due: br

add tikv v2 br test
  .github/workflows/ci-br.yml
  br/Makefile
  br/tests/rawkv/client.go
  br/tests/rawkv/go.mod
  br/tests/rawkv/go.sum
  br/tests/rawkv/main.go
  br/tests/rawkv/run.py
  br/tests/rawkv/tikv_br.go
Due: none

fix gosec
  .github/config/br_rawkv.toml
  .github/workflows/ci-br.yml
  br/Makefile
  br/go.mod
  br/go.sum
  br/tests/rawkv/main.go
Due: none

revert run.py change
  br/tests/rawkv/main.go
  br/tests/rawkv/run.py
Due: none

display api version in ci task
  .github/workflows/ci-br.yml
Due: none

fix version check
  cdc/cdc/capture/http_validator.go
  cdc/pkg/cmd/cli/cli_capture.go
  cdc/pkg/cmd/cli/cli_changefeed.go
  cdc/pkg/cmd/cli/cli_changefeed_create.go
  cdc/pkg/cmd/cli/cli_changefeed_statistics.go
  cdc/pkg/cmd/cli/cli_processor.go
  cdc/pkg/cmd/cli/cli_processor_list.go
  cdc/pkg/cmd/cli/cli_processor_query.go
  cdc/pkg/cmd/util/helper.go
  cdc/pkg/version/check.go
  cdc/pkg/version/check_test.go
  cdc/pkg/version/creator_version_gate.go
  cdc/pkg/version/creator_version_gate_test.go
Due: cdc

fix typo
  .github/workflows/ci-br.yml
Due: none

fix version check
  cdc/pkg/version/check.go
Due: cdc

fix processor list
  cdc/pkg/cmd/cli/cli_processor_list.go
Due: cdc

fix comment
  cdc/cdc/capture/http_validator.go
  cdc/pkg/version/creator_version_gate_test.go
Due: cdc

add unit test
  br/cmd/br/debug.go
  br/pkg/checksum/executor.go
  br/pkg/checksum/executor_test.go
  br/pkg/task/backup_raw.go
  br/pkg/task/restore_raw.go
Due: br

fix sort: if two evets.crts are equal, the delete event will be sort first
  cdc/cdc/sorter/memory/entry_sorter.go
  cdc/cdc/sorter/memory/entry_sorter_test.go
  cdc/cdc/sorter/unified/sorter_test.go
Due: cdc

address review comments
  .github/workflows/ci-br.yml
  br/tests/rawkv/main.go
Due: none

fix ut
  cdc/cdc/sorter/unified/file_backend_test.go
  cdc/cdc/sorter/unified/merger_test.go
Due: cdc

fix ut
  cdc/cdc/sorter/unified/heap.go
  cdc/cdc/sorter/unified/sorter_test.go
Due: cdc

fix sort compare func
  cdc/cdc/model/mounter.go
  cdc/cdc/sorter/memory/entry_sorter.go
  cdc/cdc/sorter/unified/heap.go
Due: cdc

fix apiv1 backup issue
  br/pkg/rtree/rtree.go
  br/pkg/rtree/rtree_test.go
Due: br
