Repository tikv/migration: changes, and which Codecov flags are due for each by the changed paths.
All: cdc, br

.codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 4
  round: down

  status:
    project:
      default:
        target: auto
        threshold: 3% #Allow the coverage to drop by threshold%, and posting a success status.
        branches:
          - master

    patch:
      default:
        target: 0%
    changes: no

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes
  branches:
    - "master"

ignore:
  - "LICENSES"
  - "*_test.go"
  - "*.pb.go"
  - ".git"
  - "*.yaml"
  - "*.toml"
  - "*.md"
  - "docs/.*"
  - "testing_utils/.*"

flags:
  cdc:
    carryforward: true
    paths:
      - "cdc/cdc"
      - "cdc/cmd"
      - "cdc/pkg"
  br:
    carryforward: true
    paths:
      - "br/cmd"
      - "br/pkg"

rename
  cdc/metrics/alertmanager/tikv-cdc.rules.yml
Due: none

fix cdc stuck it
  cdc/tests/integration_tests/cdc_hang_on/run.sh
Due: none

ignore resign and add TODO
  cdc/cdc/capture/capture.go
Due: cdc

[close #287] fix alertmanager for tikv-cdc (#288)
  cdc/metrics/alertmanager/ticdc.rules.yml
  cdc/metrics/alertmanager/tikv-cdc.rules.yml
Due: none

address review comments
  .github/workflows/ci-br.yml
  br/pkg/backup/push.go
  br/pkg/feature/feature_gate.go
  br/pkg/feature/feature_gate_test.go
  br/pkg/task/backup_raw.go
  br/pkg/task/common_test.go
  br/pkg/task/restore_raw.go
  br/tests/rawkv/main.go
Due: br

fix action
  .github/workflows/ci-br.yml
Due: none

git reset & make check
  cdc/tests/integration_tests/cdc_hang_on/run.sh
Due: none

fix cdc stuck it case
  cdc/tests/integration_tests/cdc_hang_on/run.sh
Due: none

fix action
  br/pkg/feature/feature_gate.go
  br/pkg/feature/feature_gate_test.go
  br/tests/rawkv/main.go
Due: br

fix action
  .github/workflows/ci-br.yml
  br/pkg/feature/feature_gate_test.go
Due: br

fix http_api
  cdc/tests/integration_tests/http_api/util/test_case.py
Due: none

remove gh ut
  .github/workflows/ci-cdc.yml
Due: none

remove gh ut (#290)
  .github/workflows/ci-cdc.yml
Due: none

remove defer c.AsyncClose
  cdc/cdc/capture/capture.go
Due: cdc

Update README.md
  cdc/README.md
Due: none

.
  cdc/Makefile
Due: none

address review comments
  br/Makefile
  br/tests/rawkv/main.go
Due: none

address review comments
  br/tests/rawkv/main.go
Due: none

fix
  br/tests/rawkv/go.mod
  br/tests/rawkv/go.sum
  br/tests/rawkv/main.go
Due: none

[fix #280] fix cdc stuck when send SIGSTOP to pd leader (#286)
  cdc/Makefile
  cdc/cdc/capture/capture.go
  cdc/cdc/capture/http_handler.go
  cdc/cdc/server.go
  cdc/tests/integration_tests/cdc_hang_on/run.sh
  cdc/tests/integration_tests/http_api/util/test_case.py
  cdc/tests/integration_tests/stop_downstream/run.sh
Due: cdc

Update README.md (#293)
  cdc/README.md
Due: none

[close #231] TiKV-BR support v5.x.x (#282)
  .github/workflows/ci-br.yml
  br/Makefile
  br/cmd/br/debug.go
  br/pkg/backup/push.go
  br/pkg/feature/feature_gate.go
  br/pkg/feature/feature_gate_test.go
  br/pkg/pdutil/pd.go
  br/pkg/pdutil/pd_serial_test.go
  br/pkg/task/backup_raw.go
  br/pkg/task/common.go
  br/pkg/task/common_test.go
  br/pkg/task/restore_raw.go
  br/pkg/version/version.go
  br/tests/rawkv/go.mod
  br/tests/rawkv/go.sum
  br/tests/rawkv/main.go
Due: br

speed up integrated tests
  cdc/tests/integration_tests/_utils/check_sync_diff
  cdc/tests/integration_tests/_utils/run_cdc_server
  cdc/tests/integration_tests/_utils/run_curl
  cdc/tests/integration_tests/_utils/start_tidb_cluster_impl
  cdc/tests/tests.Dockerfile
  cdc/tests/up.sh
Due: none

wip
  cdc/tests/integration_tests/_utils/run_curl
  cdc/tests/integration_tests/_utils/start_tidb_cluster_impl
  cdc/tests/integration_tests/cdc_hang_on/run.sh
  cdc/tests/tests.Dockerfile
  cdc/tests/up.sh
Due: none

update release version; add usage comment for up.sh
  cdc/Makefile
  cdc/tests/up.sh
Due: none

print more debug info
  cdc/tests/integration_tests/cdc_hang_on/run.sh
  cdc/tests/tests.Dockerfile
  cdc/tests/up.sh
Due: none

fix fmt
  cdc/deployments/tikv-cdc/docker/integration-test.Dockerfile
  cdc/tests/tests.Dockerfile
Due: none

add shellcheck
  cdc/Makefile
  cdc/tests/up.sh
Due: none

fix CI error
  cdc/tests/integration_tests/cdc_hang_on/run.sh
  cdc/tests/up.sh
Due: none

add reviewer reminder
  .github/pull_request_template.md
Due: none

remove "br" in comment
  cdc/tests/up.sh
Due: none

add reviewer reminder (#299)
  .github/pull_request_template.md
Due: none

remove useless cdc target
  cdc/deployments/tikv-cdc/docker/integration-test.Dockerfile
Due: none

[to #295] Speed up cdc integrated tests (#294)
  cdc/Makefile
  cdc/tests/integration_tests/_utils/check_sync_diff
  cdc/tests/integration_tests/_utils/run_cdc_server
  cdc/tests/integration_tests/_utils/run_curl
  cdc/tests/integration_tests/_utils/start_tidb_cluster_impl
  cdc/tests/integration_tests/cdc_hang_on/run.sh
  cdc/tests/tests.Dockerfile
  cdc/tests/up.sh
Due: none

fix tikv br doc for version support
  br/README-cn.md
  br/README.md
Due: none

Update cdc/tests/integration_tests/disk_full/run.sh
  cdc/tests/integration_tests/disk_full/run.sh
Due: none

add a integration test case for disk full
  cdc/cdc/sorter/unified/backend_pool.go
  cdc/cdc/sorter/unified/file_backend.go
  cdc/tests/integration_tests/disk_full/run.sh
Due: cdc

make check
  cdc/tests/integration_tests/disk_full/run.sh
Due: none
